/*---------------------------------------------------------------
	
	Theme Name: Yorkpress
	Theme URI: http://webnus.biz/themes/yorkpress
	Author: WEBNUS
	Author URI: http://themeforest.net/user/WEBNUS
	Description: Yorkpress is a premium, fully responsive, Retina-Ready WordPress theme with Modern Design. It's very code-light, making it quick to load, and has a pleasingly clean look that's ideal for Blog or Magazine.
It comes with some great features – a theme options panel, live customizer, drag and drop page builder and useful shortcodes.
Yorkpress is fully integrated with the visual composer. This awesome page builder lets you to create complex layouts of your pages and posts with simple drag-n-drop interface. Code is easy to modify and understand so you can personalize it in the easiest way.
	Version: 1.0.2
	License: GNU General Public License
	License URI: COPYING.txt
	Tags: white, responsive-layout, one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, featured-images, flexible-header, full-width-template, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
	

/*------------------------------------------------------------------
	[Typography]
	
	Body copy: 14px/22px Droid Serif,  Helvetica,  Arial,  sans-serif;
	Headers: Oswald,  Trebuchet MS,  Helvetica,  Arial,  sans-serif;
	Input,  textarea: 13px Raleway,  Helvetica,  Arial,  sans-serif;
	Sidebar heading: 16px Oswald,  Trebuchet MS,  Helvetica,  Arial,  sans-serif;
	
	
	[Color codes]
	
	Background:	#ffffff (white)
	Content:	#424242 (light black)
	Header h1:	#0a0a0a (dark)
	Header h2:	#0a0a0a (dark)
	Footer:		#181818 (dark black)
	
	a (standard):	#2174e2 (blue)
	a (hover):	#fa5555 (ornage)
	
------------------------------------------------------------------------*/