/*----------------------------------

	Theme Name: Yorkpress
	----------------------
	
	/* #Icon Boxes
	========================================= */
	.icon-box, .icon-box1, .icon-box2, .icon-box3, .icon-box4, .icon-box5, .icon-box6 { clear:both;}
	@media only screen and (max-width: 768px) {
	.icon-box, .icon-box1, .icon-box2, .icon-box3, .icon-box4, .icon-box5, .icon-box6 { margin-bottom:20px;}
	}
	
	
	/* #Icon Box 0
	=========================== */
	.icon-box { vertical-align: baseline; margin-bottom: 20px; /* New */ position:relative; padding-left:52px;}
	.icon-box img, .icon-box i { float: left; display: block; vertical-align: text-top; margin: 5px 20px 75px 0;}
	.icon-box i { font-size: 32px; color: #545c63; float: left; margin-right: 20px; cursor: default; /* New */ position:absolute; left:0; top:0;}
	.icon-box h5, .icon-box h4 { margin-bottom: 5px; line-height: 1.3; font-size:16px; letter-spacing:0; font-weight:700;}
	.icon-box h5 strong, .icon-box h4 strong { letter-spacing:0; font-weight:700;}
	.icon-box p { overflow: hidden; color:#777; font-size:14px;}
	

	/* #Icon Box 1
	=========================== */	
	.icon-box1 p { text-align: left; margin-top: 4px; color: #797979; font-size:14px; line-height:1.6; padding-bottom:10px; margin-bottom:5px;}
	.icon-box1 i { cursor: default;display: inline;font-size: 24px;float: left;color: #2e373d;padding: 0;margin-right: 10px; margin-top: 3px;}
	.icon-box1 h4 { font-size: 20px; line-height: 28px; font-weight: 600; letter-spacing:0; text-align:left; margin-top: 5px; margin-bottom:15px;}
	.icon-box1 img { display: block; vertical-align: text-top; margin-bottom:25px;}
	.icon-box1 a.magicmore { font-size:11px; font-weight:700; text-transform:uppercase; letter-spacing:1px; color:#54cd38;}
	.icon-box1 a.magicmore:hover { color:#191919;}
	@media only screen and (min-width: 768px) {
	.alignright .icon-box1, .alignright .icon-box1 * { text-align:right; padding-right:0; margin-right:0;}
	}

	

	/* #Icon Box 2
	=========================== */	
	.icon-box2 { background-color:#fff; vertical-align:baseline; text-align:center; border-radius:5px; padding:20px 0; 	-webkit-transition:background .3s ease-in-out;	-moz-transition:background .3s ease-in-out;	-ms-transition:background .3s ease-in-out;	-o-transition:background .3s ease-in-out;	transition:background .3s ease-in-out;}
	.icon-box2 i { display:block; margin:16px 0 20px; font-size:64px; color: #404040; text-align: center;}
	.icon-box2 p { padding:0 12px;}
	.icon-box2 h4 { font-weight: 400;}
	.icon-box2:hover { background-color:#fafafa; cursor:default;}

	/* #Icon Box 3
	=========================== */	
	.icon-box3 i { font-size: 32px; margin-bottom:25px; text-align: left; color: #2e373d; margin-bottom: 10px; display: inline-block; transition: all .24s ease;}
	.icon-box3 h4 { font-size:17px; letter-spacing:0; margin-bottom:15px; font-weight:bold;}
	.icon-box3 p { font-size:13px; line-height: 21px; margin-right: 10px;}



	/* #Icon Box 4
	=========================== */	
	.icon-box4 { text-align: center; margin-bottom: 20px;}
	.icon-box4 i { font-size: 48px; width: 92px; height: 92px; text-align: center; color: #2e373d;  display: inline-block;  padding: 30px; font-size: 32px; background: #f2f2f2; border-radius: 50%; margin-bottom: 24px; cursor: default; transition: all .3s ease;}
	.icon-box4:hover i { color: #fff !important; background: #e53f51;}
	.icon-box4 h4 { margin: 14px 0 20px; color: #2e373d; font-size: 18px; letter-spacing:3px; font-weight: 400;}
	.container .icon-box4 p { margin: 0 10px 30px; font-size:14px; color:#8a8a8a;}
	.icon-box4 a.magicmore { font-size:11px; font-weight:700; text-transform:uppercase; letter-spacing:1px;}


	/* #Icon Box 5
	=========================== */	
	.icon-box5 p { text-align: left; margin-top: 3px; color: #888; font-size:13px; line-height:1.54; padding-bottom:10px;}
	.icon-box5 i { cursor: default;display: inline;font-size: 16px;float: left;color: #26a4e5;padding: 0;margin-right: 10px;margin-top: 3px;}
	.icon-box5 h4 { font-size: 15px; line-height: 21px; font-weight: 400; letter-spacing:0; text-align:left;}
	.icon-box5 h4 strong { font-weight:400;}
	.icon-box5 img { float: left; display: block; vertical-align: text-top; margin: 0 12px 0 0;}
	.icon-box5 a.magicmore { font-size:11px; font-weight:700; text-transform:uppercase; letter-spacing:1px;}
	.blox.dark .icon-box5 a.magicmore { color: #f9a827;}
	.blox.dark .icon-box5 a.magicmore:after { border-color: #f9a827;}

	@media only screen and (min-width: 768px) {
	.alignright .icon-box5, .alignright .icon-box5 * { text-align:right; padding-right:0; margin-right:0;}
	.alignright .icon-box5 i, .alignright .icon-box5 img { float:right; margin-left:10px; margin-right:0;}
	}

	

	/* #Icon Box 6
	=========================== */
	.icon-box6 { position: relative; text-align:center; background-color: rgba(255,255,255,0.81); background-color:#fff\9; border: 1px solid #e5e5e5; border-radius: 3px; padding: 36px 20px 28px; text-shadow: 0 0 0 0; margin: 40px 0 20px;}
	.icon-box6 * { text-shadow: none;}
	.icon-box6 i { font-size: 24px; width: 56px; height: 56px; text-align: center; padding: 15px 16px 17px; background: #e53f51; color: #fff; position: absolute; top: -30px; left: 50%; margin-left: -27px; border-radius: 30px; cursor: default;}
	.icon-box6 h4, .blox .icon-box6 h4, .blox.dark .icon-box6 h4 { font-weight: 400;}
	.container .icon-box6 p, .container .blox .icon-box6 p, .container .blox.dark .icon-box6 p { color: #818181; margin-bottom: 12px;}

	
	.icon-colorx i, i.icon-colorx { color: #e53f51;}	
	
	
/* -------- end ----------- */	