/*----------------------------------

	Theme Name: Yorkpress
	----------------------
	
	/* #Live Search
	
========================================= */

	#sf_sb.sf_sb { max-width:300px !important;}
	#header #sf_results {margin-left: -18px;   max-width: 246px;   margin-top: 7px;}
	#sf_results { background: #fff; border: 1px solid #c9c9c9; font-size: 11px; z-index: 9999; text-align: left; box-shadow: 0 2px 4px rgba(0,0,0,0.12); overflow: hidden; }
	.sf_more { background: #f7f7f7; border-top:1px solid #e7e7e7; display: block; min-height: 1px; margin: 3px 0 0px; padding: 8px; text-align: center; font-weight:bold; line-height:12px; }
	#sf_val ul.sf_main { background: #fff; margin:0; list-style:none; padding: 0; }
	#sf_val ul li { margin: 0; }
	#sf_val ul ul li { color:#000; border-color:#fff; list-style:none; border-style:solid; border-width: 1px 0; cursor: pointer; display: block;}
	#sf_val ul li.sf_selected { background-color: #0093d0 ; border-color: #076e99 ; color: white; }
	#sf_val ul li.sf_selected a, #sf_val ul li.sf_selected span { color: white; }
	#sf_val ul li.sf_header { background:#eee; border-top:1px solid #e7e7e7; border-bottom: 0 none; padding:4px 15px 5px 6px; font-weight:bold; margin: 0; }
	#sf_val ul li.sf_header:first-child { border-top:none;}
	#sf_val li.sf_item img { background-color: #eceff5; display: block; height: 50px; left: 6px; position: absolute; width: 50px; top:2px; }
	#sf_val li .sf_small { color:#666; text-align: left; line-height: 18px; }
	#sf_val { z-index:9999; -height:180px; -overflow-y:auto; }
	#sf_val ul { margin:0; list-style:none; padding: 0; }
	#sf_val ul ul { font-size:12px; font-weight:400;}
	#sf_val .sf_result_container ul { margin:0; list-style:none; padding: 0; }
	#sf_val ul li.sf_category a { margin-left:5px; padding: 3px 0; }
	#sf_val ul li a:hover { text-decoration:none; }
	#sf_val ul li a { text-decoration:none; display: block; }
	#sf_val ul li.sf_selected a, #sf_val ul li.sf_selected span { text-decoration:none; }
	#sf_val ul li.sf_item { min-height:50px; padding: 2px 30px 2px 63px; position:relative; line-height:12px; min-height:50px; }
	#sf_val ul li.sf_item a { display:block; }
	#sf_val li .sf_text { font-weight: bold; font-size: 12px; line-height: 15px; }
	#sf_val li a span.sf_text, #sf_val li a span.sf_small { display:block; }
	#sf_val li.sf_more .sf_small { font-size:9px; text-align: center; line-height: 15px; }

	.sf_search .sf_input{ color:#aaa; background:#fff; font-style:italic; border:0 none; padding:0; box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none; width:90%; margin-left:2px; height:19px; }
	.sf_search .sf_focused{ color:#333; font-style:normal; }
	.sf_search { background:#fff; position:relative; display:inline-block; border-radius:2px; text-align:left; }
	.sf_search .sf_button,.sf_search  .searchsubmit { background-image: url("../images/sf_search.png"); background-repeat: no-repeat; background-position: 0px 0; background-color: white; -webkit-box-shadow: 0 0 0 0; -moz-box-shadow:0 0 0 0; box-shadow:0 0 0 0; background-repeat: no-repeat; background-position: 0px 0; border: 0 none; cursor: pointer; display: block; height: 19px; padding: 0; position: absolute; right: 1px; top: 1px; width: 22px; margin: 1px 1% 1px 2px; font-size: 11px; }
	#sf_loading { background-image: url("../images/sf_loading.gif"); background-repeat: no-repeat; background-position: center center; display:block; width:100%; height:30px; }
	.sf_ajaxy-selective-search { color: rgba(255, 255, 255, 0.498039); text-decoration: none solid rgba(255, 255, 255, 0.498039); background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box; border-color:rgba(0, 0, 0, 0.247059) rgba(0, 0, 0, 0.14902) rgba(0, 0, 0, 0.14902) rgba(0, 0, 0, 0.14902); font: 16px/24px Arial, sans-serif; outline: rgba(255, 255, 255, 0.498039) none 0px; }
	.sf_ajaxy-selective-item { color: rgb(255, 255, 255); text-decoration: none solid rgb(255, 255, 255); background: rgb(109, 132, 180) -webkit-linear-gradient(top, rgb(116, 140, 190), rgb(102, 124, 170)) repeat scroll 0% 0% / auto padding-box border-box; border: 1px solid rgb(98, 118, 158); border-radius: 2px 2px 2px 2px; font: normal normal bold 11px/19px Arial, sans-serif; outline: rgb(255, 255, 255) none 0px; padding: 0px 8px; transition: all 0.218s ease 0s; }
	.sf_ajaxy-selective-close { color: rgb(255, 255, 255); text-decoration: none solid rgb(255, 255, 255); border: 0px none rgb(255, 255, 255); font: normal normal bold 11px/19px Arial, sans-serif; margin: 16.5px 0px; outline: rgb(255, 255, 255) none 0px; background: transparent; }
	.sf_ajaxy-selective-search input.sf_ajaxy-selective-input { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box; border: 0px none rgb(0, 0, 0); box-shadow: 0 0 0; }
	.sf_more .sf_text, .sf_more .sf_small { text-align:center; }
	.sf_more img { padding:10px 0; }
	.sf_search .sf_input:focus, .searchsubmit:focus { border:0 none; outline: none; }
	.sf_hidden { display:none; }
	.sf_search span.sf_block { display: block; height: 20px; padding: 1px 0 2px; position:relative; }
	.sf_search  .screen-reader-text { display:none; }
	.sf_search  .searchsubmit { display:block; }
	.sf_search  .searchsubmit { float:none; }

	#sf_sb ::-webkit-scrollbar { height: 10px; overflow: visible; width: 10px; }
	#sf_sb ::-webkit-scrollbar-thumb { background-color: rgba(0, 0, 0, .2); background-clip: padding-box; border: solid transparent; border-width: 1px 1px 1px 1px; min-height: 28px; padding: 100px 0 0; }
	#sf_sb ::-webkit-scrollbar-button { height: 0; width: 0; }
	#sf_sb ::-webkit-scrollbar-track { background-clip: padding-box; border: solid transparent; border-width: 0 0 0 4px; }
	#sf_sb ::-webkit-scrollbar-corner { background: transparent; }
	.sf_result_container { max-height:200px; overflow:auto; margin-top: 0; margin-bottom: 0; }
	.screen-reader-text { display:block; }

	#sf_val ul li.sf_item span.sf_list a{ display: inline-block; padding: 2px 5px; border-radius: 3px; margin-bottom: 3px; min-height: 0; margin-right: 5px; min-height:0; }
	#sf_val ul li.sf_item span.sf_tags a{ background: #65A1FA; color: #fff; }
	.sf_item.woocommerce .quantity input.qty{ border-right-width: 1px; border-right-style: solid; border-right-color: #c8bfc6; font-size: 12px; height: 24px; line-height: 12px; }
	.sf_item.woocommerce div.quantity{ width:44px; }
	.sf_item.woocommerce .product form.cart{ margin-bottom:5px; margin-top:5px; }