/*----------------------------------

	Theme Name: Yorkpress
	----------------------
	
	/* #Site Styles
	================================================== */
	body { background: #f4f7f8 url(../images/bdbg1.png);}
	
	/* WRAPPER */ 
	#wrap { display: block; margin: 0 auto; position: relative; padding: 0; background: #fff; visibility:visible; clear:both; overflow:hidden;}
	#wrap.boxed-wrap { display:block; margin: 0 auto; background: #fff; overflow:hidden; width: 1000px; -webkit-box-shadow: 0 0 11px rgba(0,0,0,0.4); -moz-box-shadow: 0 0 9px rgba(0,0,0,0.4); box-shadow: 0 0 9px rgba(0,0,0,0.4); border: 1px solid #d6dbdc\9; border-bottom: none; visibility:visible;}
	#wrap.boxed-wrap .container { width:100%;}
	#wrap p img { height:auto;}
	#wrap.boxed-wrap #header {top:inherit; left:inherit; width: 1000px;}

    #site-title { margin-top:25px; padding-bottom:10px; line-height:1.4; font-size: 17px; letter-spacing:0;}
	#site-title a { color:#3b454d; font-weight: bold;}
	#site-title .site-slog a { font-weight: normal;}
	#site-title small { display:block; margin-top:5px;}
	#main-content.container { padding-top:35px;}
	.site-slog {display: inline-block;}

	
	/* HEADLINE */	
	#headline, #headline2 { width: 100%; padding: 0; display: table; text-align:center;}
	#headline h3, #headline h2 { color: #424748; font-size: 30px; line-height:1.1; margin: 0 15px; position:relative; text-transform:uppercase; font-weight:100; letter-spacing:5px; padding:22px 0; border-bottom: 6px solid #bababa;}
	#headline h3 small, #headline h2 small { font-size: 13px; color: #8a8a8a; margin-bottom:12px; font-weight: 400; letter-spacing:3px; text-transform:uppercase;}

	
	/* TOP-BAR  */ 
	.top-bar { background:#181818; min-height:51px;} 
	.top-bar h6 { font-size:12px; font-weight:400; margin:0 10px 0 0; color:#d8d8d8; letter-spacing:1px;} 
	.top-links { float:left; color:#d8d8d8; font-size:13px; font-weight:400; line-height:30px; display:table; line-height:49px; padding-left:11px;}
	.top-links.rgtflot { float:right; padding-right:10px;}
	.top-links img, .container .top-links p { float:left; margin:4px 3px 0 0;}
	.container .top-links p { color:#d8d8d8; font-weight:bold; font-size:12px; line-height:1; margin:5px 9px 0 0;}
	.top-links a, .top-links span { color: #d8d8d8; font-size:10px; display:inline; margin:0 6px; text-transform:uppercase; font-weight:400; letter-spacing:0.6px;}
	.top-links a:hover { color:#fd7c7d;}
	.top-co-inf .top-links { float:right; margin-top:8px;}
	.top-co-inf .top-links p { color:#d8d8d8;}

	#topbar-search { float: right;margin:0; position:relative;}
	#topbar-search .search-text-box { color:#222; min-height:31px; background-color:#4a4a4a; margin:10px 0 0; border:none;  border-radius:0; padding:0 38px 0 10px;  letter-spacing:0; font-size:13px;  transition: all 0.14s ease;}
	#topbar-search:hover .search-text-box, #topbar-search .search-text-box:focus { background:#f9f9f9; box-shadow:0 0 11px rgba(0,0,0,0.11) inset;}
	#topbar-search .search-icon { position: absolute; top: 18px; font-size: 16px; color: #bbb; right: 18px;}
	
	.top-bar .inlinelb { color: #787878; font-size: 10px; font-weight:700; transition: all 0.18s ease; }
	.top-bar .inlinelb:hover { color: #f7c51e;}	
	.top-bar .topbar-login { background-color: #f7c51e; color: #000; padding: 6px 10px; border-radius: 1px; letter-spacing: 0;}
	.top-bar .topbar-login:hover { background:#333;}
	.top-bar .inlinelb.topbar-contact { color: #ddd; font-family:'Oswald', sans-serif; font-size:9px; letter-spacing:1px; padding: 6px 12px; background-color: #4a4a4a; border-radius: 18px;}
	.top-bar .inlinelb.topbar-contact:hover { background-color:#d0ae5e; color:#fff;}
	.wpcf7 .wpcf7-form { margin:0;}
	.wpcf7 .wpcf7-form input[type="submit"], .wpcf7 .wpcf7-form input[type="reset"], .wpcf7 .wpcf7-form input[type="button"] { background-color: #39e0b8;}
	.wpcf7 .wpcf7-form input[type="submit"]:hover, .wpcf7 .wpcf7-form input[type="reset"]:hover, .wpcf7 .wpcf7-form input[type="button"]:hover { background-color: #222;}

	
	@media only screen and (min-width: 961px) {
	.topbar-fixed #wrap .top-bar { position:fixed; top:0; left:0; width: 100%; z-index:999999; height:41px;}
	.topbar-fixed #header,.topbar-fixed #vertical-header-wrapper { margin-top: 41px;}
	.topbar-fixed #vertical-header-wrapper #header {margin-top:0;}	
	}
	
	
	
	/* HEADER  */
	#header { z-index: 10000; width: 100%; margin: 0;}
	#header h6, .top-bar h6, .top-inf h6  { font-size:13px; margin:18px 14px; font-weight:400; color:#fff; display:inline-block;}
	#header h6 i, .top-bar h6 i, .top-inf h6 i { background:none; font-size:16px; color:#6a6c75; display:inline; margin:7px 4px; padding:8px; border-radius:50%; border:1px solid #e9e9e9; vertical-align:middle;}
	.top-bar h6 i { padding:0; border:none; color:#d0ae5e;}
	.top-bar h6 { margin:0 10px 0 0;}

	#header.transed { position: fixed; background: rgba(255,255,255,0.8); width: 100%; z-index: 9100;}
	#header.super-fixed { background:#fff; border:none; box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3); width:100%; height:90px; z-index: 9100;}
	.logo { height:100%;}
	.logo img { max-width: 100%; height:auto; max-height:100%;}
	#header.super-fixed .logo img, header.super-fixed .logo { max-height:90px; width:auto;}

	
	.logo { height: auto; float: left;}
	.logo img { max-width: 100%; max-height: 100%;}
	.nav-wrap1 .container { width:auto;}
	.logo-wrap .logo { width:240px; height:100px; position:relative;}
	.logo-wrap .logo img { max-height: 100%; position: absolute; left: 0; top: 0; bottom: 0; margin: auto;}
	@media only screen and (min-width: 961px) {
	.logo-wrap .logo img { height:auto !important; width:auto;}
	}		

	
	#header .img-logo-w1 { display:inline;}
	#header .img-logo-w2, #header .img-logo-w3 { display:none}
	.transparent-header-w.t-dark-w #header .img-logo-w1, .transparent-header-w.t-dark-w #header .img-logo-w3 { display:none;}
	.transparent-header-w.t-dark-w #header .img-logo-w2 { display:inline;}
	#header.sticky .img-logo-w2, .transparent-header-w #header.sticky .img-logo-w1 { display:none;}
	.logo-sticky { display:none;}
	.transparent-header-w.t-dark-w #header.vertical-w .img-logo-w1 { display:inline;}
	
	#search-form { float:right; margin:39px 20px auto 0; position:relative; padding-left: 14px; height: 24px;}
	.top-bar #search-form { margin-top:0;}
	#header.sticky #search-form { margin-top: 21px;}
	#search-form .search-text-box, #search-form2 .search-text-box2 { background-color: #f5f5f5;  background-image: url(../images/search-icon.png); background-position: 12px 50%; background-repeat: no-repeat; border: 0 none; border-radius: 18px; box-shadow: none; color: transparent; cursor: text; font-size: 13px; color:#444; min-height:35px; height:35px; line-height: 18px; padding: 7px 5px 8px 30px; transition: all 0.3s ease-in-out 0s; width:1px; min-width: 210px;}	
	#search-form2 { display:none; position:relative;}
	#search-form2 .search-text-box2 { width:220px; margin:auto; position:relative;}
	.search-form-box { position:absolute; right:-24px; margin-top:45px; background:#fff; padding:14px 18px; height:63px; border:1px solid #e2e2e2; border-radius:0; -moz-box-shadow:0 2px 12px rgba(0,0,0,0.082); -webkit-box-shadow:0 2px 12px rgba(0,0,0,0.082); box-shadow:0 2px 12px rgba(0,0,0,0.082);  display:none;}
	.search-form-box.show-sbox { display:block; -webkit-animation: fade-anim .3s ease .037s both; animation: fade-anim .3s ease .037s both; z-index:9112000;}
	.top-bar .search-form-box.show-sbox { margin-top:40px;}
	.search-form-box:after, .search-form-box:before { content: '';display: block;position: absolute; right:9px;width: 0;height: 0;border-style: solid; border-width: 10px;}
	.search-form-box:after { top: -18px; border-color: transparent transparent #ffffff transparent ;}
	.search-form-box:before { top: -19px; border-color: transparent transparent #e2e2e2 transparent ;}
	a.search-form-icon, a.search-form-icon:visited { display:block; width:16px; height:16px; color:#888;}
	a.search-form-icon:hover { color:#555;}
	a.search-form-icon i { color:#aaa; padding: 11px; padding-left: 12px; font-size: 14px; border-radius:50%; background-color: #f3f3f3;}
	.top-bar #search-form a.search-form-icon i { font-size:11px; padding:10px; padding-left:11px; color:#aaa;}
	.top-bar #search-form a.search-form-icon:hover i { color:#aaa;}
	.top-bar #search-form a.search-form-icon { padding:0; margin-top:7px;}
	
	@media only screen and (min-width: 961px) {
	#header.sticky #site-title { display:none;}	
	#header.sticky #nav-wrap, #header.sticky.hi-header #nav-wrap { width:100%; border-bottom: 1px solid #bababa; z-index:8999; background:#fff; display:block; position:fixed; height:64px; padding:0; left:0; top:0; -webkit-animation: header-anim .2s ease .027s both; animation: header-anim .2s ease .027s both; transition: background 0.3s ease-in-out 0s, border-bottom 0.3s ease-in-out 0s;}
	#header.sticky #nav-wrap .container { width:1156px; float:none; padding:0 30px 0 150px; position:relative; margin-left:auto; margin-right:auto; height:64px;}
	#header.sticky .logo-sticky { display:block; position:fixed; top:0; max-width:280px; z-index:9000;  -webkit-animation: fade-anim .3s ease .044s both; animation: fade-anim .3s ease .044s both;}
	#header.sticky .logo-sticky img.img-logo-w3 { max-height: 48px; width: auto; max-width:280px; margin-top: 4px; display:block;}
	#header.hi-header, #header.hi-header .logo .img-logo-w1  { position:fixed; height:0; padding:0; background:none; border:none; display:none;}
	#header.sticky.hi-header, #header.hi-header .logo-sticky, #header.hi-header .logo-sticky img.img-logo-w3 { display:block; -webkit-animation: fade-anim .3s ease .044s both; animation: fade-anim .3s ease .044s both;}	

	
	.transparent-header-w #header { position:absolute; top:0; background:none; border:none;}
	.transparent-header-w #headline { display:none;}
	.transparent-header-w.t-dark-w #wrap .top-bar { height:51px; width:100%; z-index:9995; border-bottom:none; position:absolute; top:0;
	 background: -webkit-linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.001)); 
  background: -o-linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.001)); 
  background: -moz-linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.001)); 
  background: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.001)); }
	.transparent-header-w.t-dark-w  #wrap .top-bar * { color:#fff; text-shadow: 1px 1px 0 rgba(0,0,0,0.18);}
	.transparent-header-w.t-dark-w  #wrap .top-bar h6 i { color:#d0ae5e;}
	.transparent-header-w.has-topbar-w #header { top:51px;}
	.transparent-header-w .top-bar #topbar-search .search-text-box { background:rgba(255,255,255,0.45);}
	.transparent-header-w .top-bar #topbar-search .search-icon { color: #fff;}
	.transparent-header-w #header.sticky { position: fixed; top:0; right:0; left:0; height:64px; background:none;}
	.transparent-header-w #header.sticky .img-logo-w2  { display: none;}
	.transparent-header-w .nav-wrap2 { background:none;}
	.transparent-header-w .nav-wrap2 #nav { border-bottom:1px solid rgba(0,0,0,0.217);}
	.transparent-header-w.t-dark-w .nav-wrap2 #nav { border-bottom:1px solid rgba(255,255,255,0.217);}
	.transparent-header-w #header.horizontal-w #nav > li > a, .transparent-header-w .woo-cart-header .header-cart span, 
	.transparent-header-w a.search-form-icon { color:#000;}
	.transparent-header-w a.search-form-icon i { color:#000; border-color:#000;}
	.transparent-header-w #header.horizontal-w #nav > li:hover > a, .transparent-header-w #header.horizontal-w #nav > li.current > a,
	.transparent-header-w.t-dark-w #header.horizontal-w #nav > li:hover > a, .transparent-header-w.t-dark-w #header.horizontal-w #nav > li.current > a { color: #d0ae5e;}
	.transparent-header-w .woo-cart-header .header-cart { background-image: url('../images/woobag@2xb.png');}
	
	.transparent-header-w.t-dark-w #header.horizontal-w #nav > li > a, .transparent-header-w.t-dark-w .woo-cart-header .header-cart span, 
	.transparent-header-w.t-dark-w a.search-form-icon { color: #fff; text-shadow: 1px 1px 0 rgba(0,0,0,0.25);}
	.transparent-header-w.t-dark-w a.search-form-icon i { color:#fff; border-color:#fff; text-shadow:none; font-size:16px; background:none;}
	.transparent-header-w.t-dark-w .woo-cart-header .header-cart { background-image: url('../images/woobag@2x.png');}
	
	.transparent-header-w #header.horizontal-w.sticky #nav > li > a { color:#444; text-shadow:none;}
	.transparent-header-w #header.sticky .woo-cart-header .header-cart span { color:#9d9d9d; text-shadow:none;}
	.transparent-header-w #header.sticky a.search-form-icon	{ color:#aaa; text-shadow:none;}
	.transparent-header-w #header.sticky a.search-form-icon i { color:#aaa; border-color:#aaa;}
	.transparent-header-w #header.sticky .woo-cart-header .header-cart { background-image: url('../images/woobag@2x.png');}	

	}
	@media only screen and (min-width: 961px) and (max-width: 1200px) {
	#header.sticky #nav-wrap .container { width:100%;}	
	}

	
	
	/* Header animations */
	@-webkit-keyframes header-anim {
	from {opacity: 0.5;
    -webkit-transform: translateY(-60px);

    transform: translateY(-20px);}
	to {opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);}
	}
	@keyframes header-anim {
	from {opacity: 0.5;
    -webkit-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    transform: translateY(-60px);}
	to {opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);}
	}
	
	@-webkit-keyframes header-anima {
	from {height:0;}
	to {height:60px; padding:0;}
	}
	@keyframes header-anima {
	from {height:0;	}
	to {height:60px; padding:0;}
	}
	
	@-webkit-keyframes fade-anim {
	from {opacity: 0;}
	to {opacity: 1;}
	}
	@keyframes fade-anim{
	from {opacity: 0;}
	to {opacity: 1;}
	}
	

	

	/* # 404 Styles
	================================================== */	
	.error404 .blox.dark { background:#e4e4e4; padding-bottom:120px; padding-top:60px;}
	.error404 .blox.dark * { color:#111; text-align:center;}
	.error404 h1.pnf404 { font-size: 176px; line-height: 1.1; font-weight:900;}
	.error404 h2.pnf404 { font-size: 42px; line-height: 1.2; font-weight:700;}
	.error404 input.btn { visibility:hidden;}
	body.error404 input.search-side { margin:2px auto; padding:6px 12px; max-width:292px; min-height:50px; height:50px; border:none; border-radius:0;}


	/* --------------------- */
	
	
	
	/* FOOTER */
	
	
	#footer { width: 100%; padding: 30px 0 0 0; background: #181818; text-align: left;}
	#footer.litex { background: #fcfcfc;  border-top: 1px solid #e8e8e8;}
	#footer .row { margin:0;}
	.footer-in { margin: 0 auto; padding-bottom: 20px; color: #ccc; position: relative;}
	.footer-in .columns { margin-top: 20px;}
	.footer-in h5.subtitle, .toggle-top-area h5.subtitle { color: #fff; padding-bottom:10px; border-bottom:1px solid #333; margin:0 0 25px 0; position: relative;  font-size:15px; letter-spacing:2px; text-transform:uppercase; line-height:1.5; font-weight:700; text-align:left;}
	#footer.litex .footer-in h5.subtitle { color:#414141;}
	#footer h5.subtitle span, .toggle-top-area h5.subtitle span { position: absolute; right: 0; text-align: right;}
	#footer h5.subtitle span a, .toggle-top-area h5.subtitle span a { color: #787878; font-size: 10px; font-weight: 400;}
	#footer .widget ul.menu li:after { display:none; content:"";}
	#footer .widget ul.menu li { border:none;}

	.footer-in hr { border-color: #373737;}
	.footer-in .copyright-txt { font-size: 12px;}
	.footer-in p, .footer-in .textwidget { line-height: 1.83; color:#6a6a6a; font-size:10px; letter-spacing:1px; font-weight:700;}
	.footer-in .yp-ft-logo { text-align:right;}
	.footer-in .yp-ft-logo img { max-width:90px;}
	.contact2 div { line-height: 21px;}
	.footer-in a { text-decoration: none; -webkit-transition: all 0.18s ease; -moz-transition: all 0.18s ease; -o-transition: all 0.18s ease; transition: all 0.18s ease;}
	.footer-sbc { position: relative; text-align: center; margin: 0 auto;}
	.footer-sbc input[type="text"], .footer-sbc input[type="submit"] { float: left; margin: 4px 7px;}
	
	.footer-in ul.menu li { font-size:12px; text-transform:uppercase; letter-spacing:1px;  transition: all 0.23s ease;}
	.footer-in ul.menu li:hover { padding-left:10px; background:#222;}
	
	/* Social Icons */
	.social-icons a { border: 0; float: left; margin: 1px 7px 0 12px; opacity: 0.5; text-decoration: none; -webkit-transition: opacity 0.5s ease; -moz-transition: opacity 0.5s ease; -ms-transition: opacity 0.5s ease; -o-transition: opacity 0.5s ease; transition: opacity 0.5s ease;}
	.social-icons a:hover { opacity: 1;}
	.social-icons.members { clear: both; text-align: center; margin-bottom: 10px;}
	.social-icons.members a { text-align: center; float: none;}
	
	.footer-in a img { float: left;}
	.contact-inf span { display: block; color: #818181; font-size: 14px; padding:5px 0;}
	.contact-inf i { margin-right: 5px; color: #474747;}
	.contact-inf form { margin-top: 20px;}
	.footer-in .contact-inf input, .footer-in .contact-inf textarea { display: block; min-width: 97%; margin: 12px 0; background: #222; color: #a0a0a0; border: 1px solid #333; font-family: Arial, Helvetica, sans-serif; font-size: 12px; padding: 10px 0px 10px 12px; border-radius: 0;}
	.footer-in .contact-inf button, .footer-in .tribe-events-widget-link a { padding: 12px 22px; font-size: 10px; text-transform:uppercase; letter-spacing:1px; color:#aaa; font-weight: bold; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; background: #333; background: -moz-linear-gradient(top, #333, #252525); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333), color-stop(100%, #252525)); background: -webkit-linear-gradient(top, #333, #252525); background: -ms-linear-gradient(top, #333, #252525); background: -o-linear-gradient(top, #333, #252525); background: linear-gradient(top, #373737, #252525); border: 1px solid #202020; margin-right:6px;}
	.footer-in .tribe-events-widget-link a:hover, .footer-in .contact-inf button:hover { background:#d0ae5e; color:#fff; text-decoration:none;}
	.footer-in a { color:#888; text-decoration:none;}
	.footer-in a:hover { text-decoration:underline; color:#999;}
	.footer-in .textwidget h6 { color:#555; letter-spacing:2px; text-transform:uppercase; font-size:15px;}
	#footer.litex .footer-in a { color:#0093d0;}
	.footer-in a.terms { color: #578f1a;}
	.footer-navi.floatright { float:right;}
	.footer-in .col-md-12 .widget {text-align:center;}

	.footbot { margin: 0 auto; position: relative; background: #1c1c1c; padding: 26px 0 18px; text-align: right; border-top:1px solid #333;}
	#footer.litex .footbot { background:#e9e9e9}
	#footer.litex .footbot, #footer.litex .footer-in h4, #footer.litex .footer-in hr { border-color: #e0e0e0; color: #5b5b5b;}
	#footer.litex .side-list p, #footer .side-list p { font-size:11px; font-weight:400;}
	.footbot img { position: relative; margin: 6px 40px 0 0; opacity: 0.93;}
	.footer-navi { float:left; line-height:38px; font-size:11px; color:#a1a1a1; font-weight:400; letter-spacing:1px}
	.footer-navi ul { margin-left: 40px;}
	.footer-navi a { color:#afafaf; margin:0 4px; text-transform:uppercase; font-weight:bold; font-size:10px;}
	.custom-footer-menu a, .blox.dark .custom-footer-menu a { display:block; color:#fff; padding:4px 0;}
	.footer-navi a:hover, .custom-footer-menu a:hover { color: #ccc; text-decoration: underline;}
	
	
	
	/* Social Icons */
	.socialfollow { float: right;}
	.socialfollow a { height:41px; width:41px; text-align:center; padding: 10px; float: left; text-decoration: none; display: block; -webkit-transition: all 0.31s ease; -moz-transition: all 0.31s ease; -ms-transition: all 0.31s ease; -o-transition: all 0.31s ease; transition: all 0.31s ease;}
	.socialfollow a:first-of-type { margin-left: 0;}
	.footer-in .socialfollow a:hover { text-decoration: none;}
	#wrap .socialfollow a:hover { background:#d0ae5e;}
	.socialfollow img { opacity: 0.79;}
	.socialfollow i { font-size: 18px; color: #fff; opacity: 0.95;}
	#footer .socialfollow a { border-radius: 2px;}
	#footer.litex .socialfollow a i { color: #6f6f6f;}
	#footer.litex .socialfollow a:hover i { color: #fff;}
	
	
	.top-bar .socialfollow { float: right; margin-right: 10px;}
	.top-bar .lftflot .socialfollow { margin-right:0;}
	.top-bar .socialfollow.lftflot { float: left; margin-right:0;}
	.top-bar .socialfollow img { opacity: 0.97;}
	.top-bar .socialfollow a { padding: 5px 13px; background: none; margin: 0; height: 51px;  width: 41px;}
	.our-team .socialfollow a { padding: 4px; margin: 1px 4px; background: none; height:26px;}
	.top-bar .socialfollow i, .our-team .socialfollow i { color: #a1a1a1; -webkit-transition: all 0.25s ease; -moz-transition: all 0.25s ease; -ms-transition: all 0.125s ease; -o-transition: all 0.25s ease; transition: all 0.25s ease;}
	.top-bar .socialfollow i { color:#eaeaea;}
	.top-bar .socialfollow a:hover i {color:#fff; opacity:1;}
	.our-team .socialfollow a:hover { background: none;}
	
	
	/* ------ Pre Footer Instagram ------- */
	
	#pre-footer .footer-instagram-bar {background:#fff; width: 100%;}
	#pre-footer .footer-instagram-bar .container { padding:40px 0 30px; display:none;}
	#pre-footer .footer-instagram-bar .footer-instagram-text {margin-bottom:10px; text-align:center;}
	#pre-footer .footer-instagram-bar .footer-instagram-text i {font-size: 48px; color: #f63b29; display: table-cell;}	
	#pre-footer .footer-instagram-bar .footer-instagram-text h6 {line-height: 1; vertical-align: middle; font-size: 19px; letter-spacing: -1px; text-transform:uppercase;}
	#pre-footer .instagram-feed {display: table;margin: 0 auto;}
	#pre-footer .instagram-feed ul {display:table-row;}
	#pre-footer .instagram-feed li {list-style: none;display:table-cell; transition: all .4s ease-in-out; overflow:hidden;}
	#pre-footer .instagram-feed li img {width:100%; transition: all .4s ease-in-out;}
	#pre-footer .row { margin:0;}
	
	#pre-footer .instagram-feed li img{ -webkit-transition: .95s ease-in-out; -moz-transition: .95s ease-in-out; transition: .95s ease-in-out; -webkit-transform: scale(1); -moz-transform: scale(1); transform: scale(1); blur:2;}
	#pre-footer .instagram-feed li:hover img {-webkit-transform: scale(1.08); -moz-transform: scale(1.08); transform: scale(1.08); z-index:99123;}

	@media only screen and (max-width: 767px) {
	#pre-footer .instagram-feed li {float: left; width: 25%; margin: 0;}
	}
	

	/* ------ Pre Footer Social ------- */
	
	#pre-footer .footer-social-bar {background: #181818; width: 100%; border-bottom:1px solid #222;}
	#pre-footer .footer-social-bar .row { width:100%; text-align:center;}
	#pre-footer .footer-social-items {display: inline-block; margin: 0; padding: 0;}
	#pre-footer .footer-social-items li {list-style: none; display: block; float:left; margin:0 10px;}
	#pre-footer .footer-social-items a {display: block; padding: 30px 0 36px; color: #eee;}
	#pre-footer .footer-social-items i {transition: all .3s ease-in-out; border:1px solid #333; font-size: 18px;  float: left; padding: 12px; width: 42px; height: 42px;border-radius: 13px;text-align: center; margin-right:10px; display:block;color: #eee;}
	#pre-footer .footer-social-items div { line-height:20px; padding-top:7px; float:left; height:62px;}
	#pre-footer .footer-social-items span {display:none;font-size: 10px;}
	#pre-footer .footer-social-items strong { color:#eee; font-size: 11px; text-transform:uppercase; letter-spacing:2px; font-weight: 700; height:30px; line-height:30px;}
	#pre-footer .footer-social-items a:hover i { color:#fff;}
	#pre-footer .footer-social-items a.facebook:hover i{ background: #3b5996; border-color: #3b5996;}
	#pre-footer .footer-social-items a.twitter:hover i{ background: #00acee; border-color: #00acee;}
	#pre-footer .footer-social-items a.vimeo:hover i{ background: #0dadd6; border-color: #0dadd6;}
	#pre-footer .footer-social-items a.dribble:hover i{ background: #d53e68; border-color: #d53e68;}
	#pre-footer .footer-social-items a.youtube:hover i{ background: #cb322c; border-color: #cb322c;}
	#pre-footer .footer-social-items a.pinterest:hover i{ background: #cb2027; border-color: #cb2027;}
	#pre-footer .footer-social-items a.google:hover i{ background: #c3391c; border-color: #c3391c;}
	#pre-footer .footer-social-items a.linkedin:hover i{ background: #0073b2; border-color: #0073b2;}
	#pre-footer .footer-social-items a.rss:hover i{ background: #f29a1d; border-color: #f29a1d;}
	#pre-footer .footer-social-items a.instagram:hover i{ background: #457399; border-color: #457399;}
	#pre-footer .footer-social-items a.other-social:hover i{ background: #f63b29; border-color: #f63b29;}
	@media only screen and (max-width: 960px) {
	#pre-footer .footer-social-items i{margin: 0 auto; float: none; width:40px; height:40px; padding:10px;}
	#pre-footer .footer-social-items div{text-align:center;padding-top: 10px;}
	#pre-footer .footer-social-items strong { font-size:10px;}
	#pre-footer .footer-social-items span { display:none;}
	}
	@media only screen and (max-width: 767px) {
	#pre-footer .footer-social-items li { margin:0 5px;}
	#pre-footer .footer-social-items div{display:none;}
	#pre-footer .footer-social-items i { font-size:18px; padding:9px; width:36px; height:36px;}
	}
	@media only screen and (min-width: 1200px) {
	#pre-footer .footer-social-items li { margin:0 30px;}
	}
	
	
	/* ------ Pre Footer Subscribe ------- */
	
	#pre-footer .footer-subscribe-bar{background:#202122;}
	#pre-footer .footer-subscribe-bar .footer-subscribe-text h6{color:#fff; font-size: 31px;font-weight: 600; margin: 28px 0 0; line-height: 1; letter-spacing:3px;}
	#pre-footer .footer-subscribe-bar .footer-subscribe-text h6 span{font-weight: 300;}
	#pre-footer .footer-subscribe-bar .footer-subscribe-text p{color:#ddd; margin-top:10px; margin-bottom:0; font-size:14px; font-style:italic; font-family:'lora',serif;}
	#pre-footer .footer-subscribe-bar div{padding:0}
	#pre-footer .footer-subscribe-bar .footer-subscribe-text { padding-left:30px;}
	#pre-footer .footer-subscribe-email, #pre-footer .footer-subscribe-submit{height: 110px; margin: 0; padding: 0; width: 100%; border: 0; border-radius: 0;}
	#pre-footer .footer-subscribe-email{background: #2b2d2f; color:#d5d2e5; font-size: 13px; padding:30px; font-weight: 400; letter-spacing:2px;}
	#pre-footer .footer-subscribe-submit{background: #0db9e7; font-size: 12px; letter-spacing:3px; font-weight:bold;}
	@media only screen and (max-width: 960px) {
	#pre-footer .footer-subscribe-bar .footer-subscribe-text { padding-left:0;}
	#pre-footer .footer-subscribe-bar {padding-bottom:20px;}
	#pre-footer .footer-subscribe-form {text-align: center;}
	}	
	

/* --------------------- */
	
	/* Side Nav */
	
	#side-content { float:right;}
	#side-nav { float:left; z-index:979;}
	#side-nav ul { padding:10px 20px; background:#fff;  border:3px solid #f3f3f3; list-style:none;}
	#side-nav ul li { border-bottom:1px solid #eaeaea; padding:0; margin:0;}
	#side-nav ul li:last-of-type { border-bottom:0 none;}
	#side-nav ul li ul { border: none; padding:0; padding-left:20px; margin:0; background:#fdfdfd; display:none;}
	#side-nav a { display:block; color:#575757; padding:14px 0; text-transform:capitalize; font-size:13px; font-weight:400; letter-spacing:0.2px;  }
	#side-nav a:after { float:right;  font-family: 'FontAwesome'; font-size:10px; color:#878787; content: "\f054"; speak: none; font-style: normal; font-weight: normal; text-transform: none; line-height: 1;	-webkit-font-smoothing: antialiased;}
	#side-nav a:hover, #side-nav a:hover:after { color:#ff9900;}
	#side-nav li.current a, #side-nav li.current a:after { color:#0093d0;}
	#side-nav ul li ul li a { padding:10px 0; font-size:12px;}
	#side-nav ul li:hover > ul { display:block;}
	
	
	/* Image Gallery */
	
	.image-gallery { display:block; margin:10px 0;}
	.image-gallery ul li { float:left; width:215px; height:215px; margin:1px; overflow:hidden;}
	.image-gallery ul li img { max-width:420px; width:auto; height:215px; border-radius:1px; text-align:center}
	.image-gallery .zoomex { bottom:0;}
	.wpb_gallery_slides p { display:none;}
	

	/* Social Media */
	.blox .social-media {text-align: center}
	.blox .social-media a {text-align: center; padding: 0 10px; margin-bottom: 20px; display: inline-block;}
	.blox .social-media a i {border:2px transparent solid;font-size:4em;padding: 30px;border-radius: 50%;color: #fff;margin-bottom: 20px;display: block; -webkit-transition: all .3s ease-in-out;-moz-transition: all .8s ease-in-out;-ms-transition: all .8s ease-in-out;-o-transition: all .8s ease-in-out;transition: all .8s ease-in-out;background:rgba(15, 15, 15, 0.6)}
	.blox .social-media a:hover i {color: #fff;border:2px #fff solid;}
	.blox .social-media a span{-webkit-transition: all .8s ease-in-out; -moz-transition: all .8s ease-in-out; -ms-transition: all .8s ease-in-out; -o-transition: all .8s ease-in-out; transition: all .8s ease-in-out; color:transparent;text-transform: uppercase; font-size:16px; font-weight:600; text-shadow: 0 0 5px rgba(33, 65, 83, 1) }
	.blox .social-media a:hover span{color:#fff;}
	#social-media.active.facebook{ background: #3b5996 !important;}
	#social-media.active.twitter { background: #00acee !important;}
	#social-media.active.vimeo { background: #0dadd6 !important;}
	#social-media.active.dribble { background: #d53e68 !important;}
	#social-media.active.youtube{ background: #cb322c !important;}
	#social-media.active.pinterest{background: #cb2027 !important;}
	#social-media.active.google{background: #c3391c !important;}
	#social-media.active.linkedin { background: #0073b2 !important;}
	#social-media.active.rss{ background: #f29a1d !important;}
	#social-media.active.instagram{ background: #457399 !important;}
	#social-media.active.skype{ background: #00aaf3 !important;}
	#social-media.active.other-social { background: #ff5d5e !important;}
	#social-media.blox .social-media a span{display:none;}
	#social-media.blox .social-media a i{background:none; font-size:2em;border: 1px transparent solid; margin:0; padding:20px;}
	#social-media{transition: background-color .8s ease-in-out;-webkit-transition: background-color .8s ease-in-out;-moz-transition: background-color .8s ease-in-out;-ms-transition: background-color .8s ease-in-out;-o-transition: background-color .8s ease-in-out;}
	#social-media.blox .social-media a{margin: 20px 0;}
	#social-media.blox .social-media a:hover i {border: 1px #fff solid}
	

	
	
	/* #Misc
	================================================== */
	
	/* EXTRAS */
	
	.brdr-r1, .brdr-r2 { border-right: 1px solid #e5e5e5;}
	.brdr-l1, .brdr-l2 { border-left: 1px solid #e5e5e5;}
	.brdr-r2 { padding-right: 27px;}
	.brdr-l2 { padding-left: 27px;}
	.pad-r27 { padding-right: 27px;}
	.pad-l27 { padding-left: 27px;}
	.blox.dark .brdr-r1, .blox.dark .brdr-r2, .blox.dark .brdr-l1, .blox.dark .brdr-l2 { border-color:rgba(255,255,255,0.15);}
	.alignright { text-align: right;}
	img.alignright { float: right; margin-left:10px;}
	.alignleft { text-align: left;}
	img.alignleft { float: left; margin-right:10px;}
	.aligncenter { text-align: center;}
	img.aligncenter { margin-left: auto; margin-right: auto; display: block;}
	.wp-caption { display: block; color: #444;}
	.wp-caption-text { font-size: 15px;}
	.gallery-caption { display: inline;}
	.bypostauthor { font-size: 13px;}
	.moonicons-box1 { font-size: 14px; line-height:22px; display: inline-block; width:23.33%; padding: 6px; background: #fff; margin: 6px; border: 1px solid #e8e8e8;}
	.moonicons-box1 span { font-size:20px; float:left; margin-right:3px;}
	.tmpl-ex { margin-bottom:40px; padding:10px; text-align:center;}
	.tmpl-ex h4 { margin-top: 30px; font-weight: 500; font-size: 17px; letter-spacing: 1.4px;}
	.tmpl-ex a { color: #222; border-top: 10px solid #d2d2d2; display: inline-block; border-radius: 3px; max-width:420px;}
	.tmpl-ex img { width:100%; webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; transition: all .5s ease-in-out;}
	.tmpl-ex img:hover { opacity:0.66;}
	.alignright { text-align: right;}
	img.alignright { float: right;}
	.alignleft { text-align: left;}
	img.alignleft { float: left;}
	.aligncenter { text-align: center;}
	.wp-caption { display: block; color: #444;}
	.wp-caption-text { font-size: 15px;}
	.gallery-caption { display: inline;}
	.bypostauthor { font-size: 13px;}
	
	
	/* Scroll to top */
	#scroll-top a { padding: 4px 8px 6px; border-radius: 4px; background: #818c90; position: fixed; bottom: 48px; right: 32px; display: none; opacity: 0.89; filter: alpha(opacity=89); z-index: 499841;}
	#scroll-top a i { font-size: 16px; color: #fff;}
	#scroll-top a:hover { background-color: #d0ae5e; cursor: pointer;}
	
	
	.v-shadow-l { background:url(../images/v-shadow-left.png) no-repeat right center;}
	.v-shadow-r { background:url(../images/v-shadow-right.png) no-repeat left center;}

	.v-shadow-r, .v-shadow-l {  min-height:320px;}
	.pad-r10 { padding-right:10px;}
	.pad-r20 { padding-right:20px;}
	.pad-r30 { padding-right:30px;}
	.pad-r40 { padding-right:40px;}
	.pad-l10 { padding-left:10px;}
	.pad-l20 { padding-left:20px;}
	.pad-l30 { padding-left:30px;}
	.pad-l40 { padding-left:40px;}
	
	
	/* #Column Shortcodes
	----------- */
	.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth { margin-right: 4%; float: left; margin-bottom:20px;}
	.one_half { width: 48%;}
	.one_third { width: 30.6666%;}
	.two_third { width: 65.3332%;}
	.one_fourth { width: 22%;}
	.three_fourth { width: 74%;}
	.one_fifth { width: 16.8%;}
	.two_fifth { width: 37.6%;}
	.column-last { margin-right: 0 !important; clear: right;}
	
	
	.easyPieChart { position: relative; text-align: center;}
	.easyPieChart canvas { position: absolute; top: 0; left: 0;}
	.pie { text-align:center; font-size:49px; position:relative; margin:0 auto 20px;}
	.pie p { font-size:16px; color:#888; font-weight:400; position:absolute; bottom:-52px; width:100%; padding-top:10px; border-top:2px solid #f9f9f9;}
	.container .pie p { margin-bottom:0;}	

	
	
	/* Breadcrumbs 
	--------------- */
	.breadcrumbs-w { background:#fff; font-family:'Roboto',sans-serif; padding:7px 0; font-size:13px; color:#6c7279; letter-spacing:1px; text-transform:none; font-weight:300; margin: auto; border-bottom:1px solid #eee;}
	.breadcrumbs-w a { color:#5c646d;}
	.breadcrumbs-w a:hover { text-decoration:underline;}
	.breadcrumbs-w .container { padding-left:20px;}
	@media only screen and (min-width: 961px) and (max-width: 1200px) {
	.breadcrumbs-w { max-width:920px;}
	}
	
	/* News Ticker
	--------------- */
	.transparent-header-w .news-ticker, ul#js-news { display:none;}
	 .news-ticker { background-color: #f4f4f4; border-top: 1px solid #e1e1e1; border-bottom:1px solid #e1e1e1;} 
	.ticker-wrapper.has-js { margin: 0 16px; padding: 0px 20px; height: 32px; display: block; background-color: #f4f4f4; font-size: 0.75em;}
	.ticker { width: 710px; height: 30px; display: block; position: relative; overflow: hidden; background-color: #f4f4f4;}
	.ticker-title { font-size:12px; line-height:30px; color: #f54639; font-weight: bold; padding-top:1px; background-color: #f4f4f4; text-transform: uppercase;}
	.ticker-content { margin: 0px; position: absolute; color: #1f527b; font-weight: bold; background-color: #f4f4f4; overflow: hidden; white-space: nowrap; line-height:30px;}
	.ticker-content a { text-decoration: none; color: #292929; font-size:13px; font-weight:600;}
	.ticker-content a:hover { color: #0093d0;}
	.ticker-swipe { padding-top: 9px; position: absolute; top: 0px; background-color: #f4f4f4; display: block; width: 800px; height: 30px;}
	.ticker-swipe span { margin-left: 1px; background-color: #f4f4f4; border-bottom: 1px solid #1f527b; height: 12px; width: 7px; display: block;}
	.js-hidden { display: none;}
	.no-js-news { padding: 10px 0px 0px 45px; color: #f4f4f4;}
	.left .ticker-controls, .left .ticker-content, .left .ticker-title, .left .ticker { float: left;}
	.left .ticker-controls { padding-left: 6px;}
	.right .ticker-controls, .right .ticker-content, .right .ticker-title, .right .ticker { float: right;}
	.right .ticker-controls { padding-right: 6px;}
	@media only screen and (min-width: 961px) and (max-width: 1200px) {
	.ticker-wrapper.has-js { margin: 0 10px;}
	}
	@media only screen and (max-width: 960px) {
	.news-ticker .container { width:auto; margin:0; padding:0;}
	.ticker-wrapper.has-js { margin:0;}
	}
	@media only screen and (max-width: 767px) {
	.news-ticker .ticker { width:350px;}
	}
	@media only screen and (max-width: 479px) {
	.news-ticker .ticker { width:330px;}
	.ticker-title { display:none !important;}
	.ticker-content { left:10px !important;}
	}
	
	/* --------------------- */
	
	
	
	/* Predefined Typography -/
	--------------------------------*/	
	.ptg_h_1 h1, .ptg_h_1 h2, .ptg_h_1 h3, .ptg_h_1 h4, .ptg_h_1 h5, .ptg_h_1 h6, #wrap.ptg_h_1 .hebe .tp-tab-title, #wrap.ptg_h_1 .hebe .tp-tab-desc, .ptg_h_1 .widget .postslider p,    
	.ptg_h_1 #nav > li > a, .ptg_h_1 .tp-caption.wlargetext1, .ptg_h_1 .tp-caption.wlargetext, .ptg_h_1 a.readmore, .ptg_h_1 .widget ul li.cat-item { font-family:'Montserrat',sans-serif;}
	.ptg_h_2 h1, .ptg_h_2 h2, .ptg_h_2 h3, .ptg_h_2 h4, .ptg_h_2 h5, .ptg_h_2 h6, #wrap.ptg_h_2 .hebe .tp-tab-title, #wrap.ptg_h_2 .hebe .tp-tab-desc, .ptg_h_2 .widget .postslider p,
	.ptg_h_2 #nav > li > a, .ptg_h_2 .tp-caption.wlargetext1, .ptg_h_2 .tp-caption.wlargetext, .ptg_h_2 a.readmore, .ptg_h_2 .widget ul li.cat-item { font-family:'Rufina',sans-serif; text-transform:none !important; letter-spacing:0 !important;}
	.ptg_h_3 h1, .ptg_h_3 h2, .ptg_h_3 h3, .ptg_h_3 h4, .ptg_h_3 h5, .ptg_h_3 h6, #wrap.ptg_h_3 .hebe .tp-tab-title, #wrap.ptg_h_3 .hebe .tp-tab-desc, .ptg_h_3 .widget .postslider p, 
	.ptg_h_3 #nav > li > a, .ptg_h_3 .tp-caption.wlargetext1, .ptg_h_3 .tp-caption.wlargetext, .ptg_h_3 a.readmore, .ptg_h_3 .widget ul li.cat-item { font-family:'PT Serif',sans-serif; text-transform:none !important; letter-spacing:0 !important;}
	.ptg_h_4 h1, .ptg_h_4 h2, .ptg_h_4 h3, .ptg_h_4 h4, .ptg_h_4 h5, .ptg_h_4 h6, #wrap.ptg_h_4 .hebe .tp-tab-title, #wrap.ptg_h_4 .hebe .tp-tab-desc, .ptg_h_4 .widget .postslider p,
	.ptg_h_4 #nav > li > a, .ptg_h_4 .tp-caption.wlargetext1, .ptg_h_4 .tp-caption.wlargetext, .ptg_h_4 a.readmore, .ptg_h_4 .widget ul li.cat-item { font-family:'Raleway',sans-serif;}
	.ptg_h_5 h1, .ptg_h_5 h2, .ptg_h_5 h3, .ptg_h_5 h4, .ptg_h_5 h5, .ptg_h_5 h6, #wrap.ptg_h_5 .hebe .tp-tab-title, #wrap.ptg_h_5 .hebe .tp-tab-desc, .ptg_h_5 .widget .postslider p, 
	.ptg_h_5 #nav > li > a, .ptg_h_5 .tp-caption.wlargetext1, .ptg_h_5 .tp-caption.wlargetext, .ptg_h_5 a.readmore, .ptg_h_5 .widget ul li.cat-item { font-family:'Philosopher',sans-serif; text-transform:none !important; letter-spacing:0 !important;}
	.ptg_h_6 h1, .ptg_h_6 h2, .ptg_h_6 h3, .ptg_h_6 h4, .ptg_h_6 h5, .ptg_h_6 h6, #wrap.ptg_h_6 .hebe .tp-tab-title, #wrap.ptg_h_6 .hebe .tp-tab-desc, .ptg_h_6 .widget .postslider p, 
	.ptg_h_6 #nav > li > a, .ptg_h_6 .tp-caption.wlargetext1, .ptg_h_6 .tp-caption.wlargetext, .ptg_h_6 a.readmore, .ptg_h_6 .widget ul li.cat-item { font-family:'clavo',sans-serif; text-transform:none !important; letter-spacing:0 !important;}
	
	.ptg_h_1 .tp-caption.Newspaper-Title, .ptg_h_1 .tp-caption.Newspaper-Subtitle, .ptg_h_1 .tp-caption.Newspaper-Button { font-family:'Montserrat',sans-serif !important;}
	.ptg_h_2 .tp-caption.Newspaper-Title, .ptg_h_2 .tp-caption.Newspaper-Subtitle, .ptg_h_2 .tp-caption.Newspaper-Button { font-family:'Rufina',sans-serif !important; text-transform:none !important;}
	.ptg_h_3 .tp-caption.Newspaper-Title, .ptg_h_3 .tp-caption.Newspaper-Subtitle, .ptg_h_3 .tp-caption.Newspaper-Button { font-family:'PT Serif',sans-serif !important; text-transform:none !important;}
	.ptg_h_4 .tp-caption.Newspaper-Title, .ptg_h_4 .tp-caption.Newspaper-Subtitle, .ptg_h_4 .tp-caption.Newspaper-Button { font-family:'Raleway',sans-serif !important;}
	.ptg_h_5 .tp-caption.Newspaper-Title, .ptg_h_5 .tp-caption.Newspaper-Subtitle, .ptg_h_5 .tp-caption.Newspaper-Button { font-family:'Philosopher',sans-serif !important; text-transform:none !important;}
	.ptg_h_6 .tp-caption.Newspaper-Title, .ptg_h_6 .tp-caption.Newspaper-Subtitle, .ptg_h_6 .tp-caption.Newspaper-Button { font-family:'clavo',sans-serif !important; text-transform:none !important;  letter-spacing:0 !important;}
	
	
	.ptg_p_1 p { font-family:'Open Sans',sans-serif; font-size:13px; font-weight:400;}
	.ptg_p_2 p { font-family:'Muli',sans-serif; font-size:14px; font-weight:400;}
	.ptg_p_3 p { font-family:'Noto Sans',sans-serif; font-size:14px; font-weight:400;}
	.ptg_p_4 p { font-family:'Roboto',sans-serif; font-size:15px; font-weight:300;}
	.ptg_p_5 p { font-family:'Lora',sans-serif; font-size:14px; font-weight:400;}
	.ptg_p_6 p { font-family:'adelle',sans-serif; font-size:14px; font-weight:400;}
	
	
	
	/* --------------------- */
	
	

	
	/*# Row fixes
	--------------
	-------------- */
	
	
	.blox.page-title-x, .parallax-sec.page-title-x, .video-sec.page-title-x { margin-top:-35px;}
	.row-wrapper-x { padding:0 10px;}
	@media only screen and (min-width: 1200px){
	.row-wrapper-x { padding:0 15px;}
	}
	.col-md-8.omega .row-wrapper-x { padding-left:0;}
	#wrap .wpb_row.full-row, #wrap.boxed-wrap .wpb_row.full-row { margin-top:0; margin-left:0; margin-right:0; margin-bottom:0; clear:both;}
	#wrap .blox .wpb_row.full-row, #wrap .parallax-sec .wpb_row.full-row, #wrap .video-sec .wpb_row.full-row,
	#wrap.boxed-wrap .blox .wpb_row.full-row, #wrap.boxed-wrap .parallax-sec .wpb_row.full-row, #wrap.boxed-wrap .video-sec .wpb_row.full-row { margin:0;}
	#wrap .wpb_row.full-row.vc_row-fluid .vc_span12 .vc_row-fluid { margin-left:0; margin-right:0;}
	.vc_col-sm-12 .wpb_revslider_element, .vc_col-sm-12 .wpb_layerslider_element, .max-hero { margin-top:-35px;}
	.page-title-x .wpb_revslider_element, .page-title-x .wpb_layerslider_element, .page-title-x .max-hero, 
	.blox .wpb_revslider_element, .blox .wpb_layerslider_element, .blox .max-hero { margin-top:0;}
	.blox.wpb_row, #wrap.boxed-wrap .blox.wpb_row, #wrap .blox.wpb_row, .blox .wpb_row, #wrap.boxed-wrap .blox .wpb_row, #wrap .blox .wpb_row{ margin-bottom:0;}
	.wpb_row.vc_row-fluid .wpb_row.vc_row-fluid { margin-bottom:0;}
	.wpb_row.blox, .wpb_row.parallax-sec, .wpb_row.video-sec, .wpb_row.full-row { margin-right:0; margin-left:0; margin-bottom:0;}
	.blox .wbp_row, .blox .wpb_row.vc_row-fluid  { margin-right:0; margin-left:0;}
	.blox .vc_col-sm-12 .vc_row-fluid { margin-left:-10px; margin-right:-10px;}
	@media only screen and (min-width: 1200px){
	.blox .vc_col-sm-12 .vc_row-fluid { margin-left:-15px; margin-right:-15px;}
	}
	#wrap .blox .wpb_content_element, #wrap .parallax-sec .wpb_content_element, #wrap .video-sec .wpb_content_element { margin-bottom:0;}
	.wpb_single_image.wpb_content_element { margin-bottom:0;}
	.wpb_layerslider_element.wpb_content_element, .wpb_revslider_element.wpb_content_element, .wpb_gmaps_widget.wpb_content_element, .wpb_gallery.wpb_content_element, 
	.wpb_layerslider_element .wpb_single_image.wpb_content_element, .wpb_revslider_element .wpb_single_image.wpb_content_element { margin-bottom:0px;}
	#wrap .wpb_single_image .vc_single_image-wrapper { display:block;}
	
	.row-wrapper-x p img, div img, li img,
	#wrap p img, .wpb_single_image.wpb_content_element img { height: auto; max-width:100%;}


	.our-map .wpb_wrapper .wpb_map_wraper, .wpb_gmaps_widget .wpb_wrapper { padding:0;}
	.wpb_gmaps_widget { border:5px solid #eee;}
	.no-margin-w { margin:0 !important;}
	.no-mb{ margin-bottom:0 !important;}
	.ne-mb{ margin-bottom:-30px !important;}
	#lang_sel { z-index:9999;}
	
	@media only screen and (min-width: 1200px){
	.wpb_column.nopad-all { padding:0;}
	.wpb_column.nopad-left { padding-left:0;}
	.wpb_column.nopad-right { padding-right:0;}
	.wpb_column.nopad-bottom { padding-bottom:0;}
	.wpb_column.nopad-top { padding-top:0;}
	}
	
	@media only screen and (max-width: 960px){
	.wpb_row.vc_row-fluid .wpb_column .wpb_row.vc_row-fluid .wpb_column { padding-left:10px; padding-right:10px;}
	.wpb_row.vc_row-fluid .wpb_column.full-at-max960 { width:100%;}
	}
	@media (max-width: 767px) {
	  .wpb_row.vc_row-fluid .wpb_column {
		margin-bottom: 0; /* webnus */
	  }
	}
	
	
	
	
	
	/* WP pagenavi 

	----------- */
	.wp-pagenavi { clear: both; font-size: 12px; text-align:center; margin:20px 0;}
	.wp-pagenavi span.pages { color:#999;}
	.wp-pagenavi a, .wp-pagenavi span { font-weight:bold; text-decoration: none; display:inline-block; background:#eee; color:#414141; border:none; line-height:1; padding: 10px 14px; margin: 3px 4px; transition: all 0.3s ease; border-radius: 2px; *zoom: 1;}
	.wp-pagenavi span.current { border-color: #efefef; background:#fdfdfd;}
	.wp-pagenavi a:hover {border-color: #d0ae5e; background:#d0ae5e; color:#fff;}
	.wp-pagenavi span.current {	font-weight: bold;}
	@media (max-width: 479px) {
	.wp-pagenavi span.pages { display:none;}
	}
	
	
	.search-results .blog-post { padding-bottom: 7px; border-bottom: 1px solid #ddd; margin-bottom: 40px;}
	
	
	/* Contact form7 
	--------------- */	
	.wpcf7 .wpcf7-form input, .wpcf7 .wpcf7-form textarea, .wpcf7 .wpcf7-form select { width:100%; box-sizing:border-box; border: 1px solid #e3e3e3; padding: 11px 6px; font-size: 13px; font-weight:300; box-shadow: 0 1px 2px rgba(0,0,0,.062) inset;}
	.wpcf7 .wpcf7-form input:hover, .wpcf7 .wpcf7-form textarea:hover { border-color:#b2cef7;}
	.wpcf7 .wpcf7-form select { height:48px; padding:0 6px; margin:0;}
	.wpcf7 .wpcf7-form textarea { height:90px;}
	.wpcf7 .wpcf7-form p { color: #717171; font-size:14px; margin-bottom:2px; margin-top:0; font-weight:500;}

	.wpcf7 .wpcf7-form input[type="submit"], .wpcf7 .wpcf7-form input[type="reset"], .wpcf7 .wpcf7-form input[type="button"]{ width:auto; font-weight:bold; background-color:#d0ae5e; padding: 16px 56px; padding: 16px 56px; border:none;}
	.wpcf7 .wpcf7-form input[type="submit"]:hover, .wpcf7 .wpcf7-form input[type="reset"]:hover, .wpcf7 .wpcf7-form input[type="button"]:hover{ background-color:#222; color:#fff;}
	.wpcf7 .wpcf7-form input[type="text"],.wpcf7 .wpcf7-form  input[type="password"],.wpcf7 .wpcf7-form input[type="number"],.wpcf7 .wpcf7-form  input[type="email"], .wpcf7 .wpcf7-form textarea, .wpcf7 .wpcf7-form  option{ margin:0 auto; width:100%; padding: 11px 10px;}
	.wpcf7 .wpcf7-form h6 {margin-top:25px; color:#df506e; font-size:20px; font-weight:bold; text-transform:lowercase;}
	
	.wpcf7 .wpcf7-form .radio-w {padding: 24px 0 0;}
	.wpcf7 .wpcf7-form .radio-w .wpcf7-list-item {margin-right: 100px;}
	.wpcf7 .wpcf7-form .one_half input[type="submit"] {width: 100%;margin-top: 16px;}
	.wpcf7 .wpcf7-form .one_half {margin-bottom:80px;}
	
	.dark.blox .wpcf7 .wpcf7-form input[type="text"],.dark.blox .wpcf7 .wpcf7-form  input[type="password"],.dark.blox .wpcf7 .wpcf7-form input[type="number"],.dark.blox .wpcf7 .wpcf7-form  input[type="email"],.dark.blox .wpcf7 .wpcf7-form textarea,.dark.blox  .wpcf7 .wpcf7-form  select,.dark.blox  .wpcf7 .wpcf7-form  option{color:rgba(102, 102, 102, 1); margin:0 auto; width:100%; padding: 10px; border-radius: 4px; background-color: rgba(255, 255, 255, 0.85);}
	.dark.blox .wpcf7 .wpcf7-form  input[type="text"]:focus,.dark.blox  .wpcf7 .wpcf7-form .rsvp-w1 input[type="password"]:focus,.dark.blox .wpcf7 .wpcf7-form input[type="number"]:focus,.dark.blox  .wpcf7 .wpcf7-form  input[type="email"]:focus,.dark.blox  .wpcf7 .wpcf7-form textarea:focus ,.dark.blox  .wpcf7 .wpcf7-form  select:focus ,.dark.blox  .wpcf7 .wpcf7-form  option:focus {background-color:#fff;}
	.dark.blox .wpcf7 .wpcf7-form  input[type="submit"]{border-radius: 30px; color: #fff; border: 1px solid #fff; background: transparent; padding: 14px 35px; margin-top: 10px;}
	.dark.blox .wpcf7 .wpcf7-form  input[type="submit"]:hover{background: #3498db; border: 1px solid #3498db;}
	
	.wpcf7 .col-md-12, .wpcf7 .col-md-8, .wpcf7 .col-md-6, .wpcf7 .col-md-4 { margin-bottom:20px;}


	/* ----------- */
	
	
	

	
	/* #Media Queries
	===============================================================================
	===============================================================================  */

	
	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 960px) {
	
	#header { padding:10px 0;}
	#search-form, .woo-cart-header { display:none;}
	
	.transparent-header-w.t-dark-w #header .img-logo-w2 { display:none;}
	.transparent-header-w.t-dark-w #header .img-logo-w1 { display:inline;}
	
	.plan-wrap { width: 100%;}
	.sub-h h5 { padding: 0;}
	.blog-content .post-img { margin-bottom: 20px;}
	.blog-expression { width: 100%;}
	.img-team { margin-top:40px }
	
	.sidebar, .rgt-cntt, .sidebar.leftside { padding-right:0; background:none; padding-top:40px; margin-top:40px; border-top:5px solid #e5e5e5;}
	.rgt-cntt, .sidebar.leftside { padding-top:0px; margin-top:0px; border-top:0 none; margin-right:0;}
	.sidebar.leftside { margin-bottom:40px; border-bottom:5px solid #e5e5e5;}
	.footer-in .col-md-3, .footer-in .col-md-4, .footer-in .col-md-6, .footer-in .col-md-8 { margin-bottom:30px;}
	.footer-in .textwidget { text-align:center;}

    .img-box { width: 256px; height: 188px;}
	.last-project .img-box { background: #ea3c3c;}
	.last-project .img-box:nth-child(even) { background: #f66060;}
	.ab-box { height: 235px;}
	.author-detail { width: 218px;}
	.contact input { width: 330px; float: none;}
	.contact textarea { width: 486px;}
	.row.magic, .s-qoute-man { padding: 0; margin-bottom: 10px;}
	a.get { margin-bottom: 14px;}
	.pad-r10, .pad-r20, .pad-r30, .pad-r40 { padding-right: 5px;}
	.pad-l10, .pad-l20, .pad-l30, .pad-l40 { padding-left: 5px;}
	
	.dpromo2 { margin-top:35px; border-top:1px solid #e5e5e5; padding-top:30px;}
	.dpromo2 .brdr-l1, .dpromo2 .pad-l40 { border-left:none; padding:0;}
	
	.vertical-space, .vertical-space1 { height: 12px;}
	.vertical-space2 { height: 18px;}
	.vertical-space3 { height: 36px;}
	.vertical-space4 { height: 50px;}
	.vertical-space5 { height: 80px;}
	
	
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select { min-width:90px; max-width:100%;}
	
	}


	/* iPad in portrait & landscape */
	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
	
	.sparallax .slide-image{background-attachment: local !important; background-size: auto!important;}
	.blox {background-attachment: local!important; background-size: auto!important;}
	}
	
	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 960px) {
	
	.blox {background-attachment: local!important; background-size: auto!important;}
	.pad { padding-top: 8%;}
	.blog-line img { float: none;}
	#wrap.boxed-wrap, #wrap.boxed-wrap #header { width: 728px;}
	#tline-content { width: 700;}
	.tline-box { width: 335px;}
	.plan-wrap { width: auto;}
	
	.social-icons a { margin: 1px 4px 0 4px;}
	
	.max-counter.m-counter { width:130px;}
	.max-counter.m-counter .max-count { width:90px; height:90px; font-size:23px; padding-top:33px;}
	.event-list .btn-wrapper .button.dark-gray.medium { padding:13px; letter-spacing:0; font-size:11px;}
	
	.social-team i { font-size:16px; padding:5px;}
	h1.respo-tagline, h2.respo-tagline, h3.respo-tagline, h4.respo-tagline { line-height:1.33; letter-spacing:0; margin-bottom:14px;}
	h1.respo-tagline { font-size:21px;}
	h2.respo-tagline { font-size:18px;}
	h3.respo-tagline { font-size:16px; font-weight:400;}
	h4.respo-tagline { font-size:13px; font-weight:400;}
	h1.tagline-bold { font-size:31px; line-height:33px;}	
	
	}
	
	
	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	#wrap.boxed-wrap, #wrap.boxed-wrap #header { width: 460px;}
	#tline-content { width: 460px;}
	.tline-box { width: 420px;}
	#testimonials-slider li { width:400px;}	
	.page-subtitle { left: 0; padding: 10px 0 0 20px; bottom: 0; border-bottom: 1px solid #e8edee; margin-bottom: 20px; height: auto; width: auto; clear: both; background: #fdfdfd; border-radius: 0;}
	.pricing-table .plans-f-list.respo { display: inline; visibility: visible;}
	.jcarousel-item, .last-project .portfolio-item { max-width: 210px; height: 157px; float: left;}

	}
	
	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	
	#header.dark #nav {background: #000; border-color:#181818;}
	#header.dark.sm-rgt-mn #menu-icon i {color:rgb(228, 228, 228);}
	#header.dark.sm-rgt-mn #menu-icon:hover i, #header.dark.sm-rgt-mn #menu-icon.active i {color:#27ae60;}
	.blox {background-attachment: local !important; background-size: cover !important;}
	.max-hero .slides-navigation {display:none}
	.max-hero .slides-content .slides li{font-size: 48px;}
	.max-hero .slides-content p{ font-size: 14px}
	.max-hero .slides-content .button {font-size: 12px}
	#headline { height:auto; border-bottom:1px solid #bababa; padding:5px 0;}
	#headline h2, #headline h3 { border:none; text-align:center;}
	#headline h2 small, #headline h3 small { display:block; margin-top:7px; margin-bottom:9px; font-size:13px; letter-spacing:2px; font-weight:400;}
	
	.top-bar { height:auto; padding:5px 0 6px;}
	.top-bar h6 { font-size:11px; letter-spacing:0; margin:0 10px 0 0;}
	.top-bar h6 i { font-size:12px; padding:3px; margin-right:3px;}
	.top-bar .socialfollow, .top-links, .top-links.rgtflot, .top-bar .socialfollow.lftflot { float:none; text-align:center; clear:both; min-height:22px;}
	.top-bar .socialfollow, .top-bar .socialfollow.lftflot  {  padding-top:8px;}
	.top-bar .socialfollow a, .top-bar .socialfollow.lftflot a, .top-links p, .top-links img { float:none; display:inline; padding-top:10px; background:none;}
	.top-links, .top-links.rgtflot { margin:0; padding-top:4px;}
	.top-links.rgtflot { margin-top:12px; margin-bottom:6px;}
	.top-links.lftflot { width:100%; text-align:center;}
	#topbar-search { float:none; width:100%;}
	#topbar-search .search-text-box { width:100%; display:block; margin:0; margin-bottom:10px;}
	#lang_sel_click { text-align:left; float:right;}
	#lang_sel_click img.iclflag { padding:0;}
	
	.container hr { margin-left:0; margin-right:0;}
	
	.nav-search { float: none; margin: 0;}
	.img-box { width: 420px; height: 308px;}
	.contact textarea { width: 398px;}
	.max-counter { display:block; padding-bottom:20px;}

	.logo-wrap .logo { text-align: center; float:none; margin-bottom:10px; width:100%; height:auto; line-height:1;}
	.logo-wrap .logo img { position:static;}
	#nav { display: none;}
	.portfolio article { width: 100%; height: 300px;}
	.plan-wrap article { width: 50%;}
	.twitter h3 { padding: 0;}
	.project-view .img-item-big img { border:none; margin-bottom:-14px;}
	.proj-title-x h2 { font-size:28px;}
	#wrap .ptp-pricing-table .ptp-four-col {width: 100%;}
	
	.zoomex2 h6 { font-size:18px; font-weight:600;}
	
	input[type="text"].header-saerch, input[type="text"].header-saerch:focus { width: 261px; margin-top: 10px;}
	.pin-box { width: 96%;}
	
	.tline-box  iframe, .tline-box  img { height:auto;}
	.tline-row-l, .tline-row-r { display: none }
	.tline-box.rgtline { float: left; left: 0;}
	#tline-content:before { background:#eff3f4;}
	
	.tabs-left > .nav-tabs, .tabs-left > .nav-tabs > li > a, .nav-tabs > li, .nav-tabs > li.active, .tabs-left > .nav-tabs > li.active > a, .tabs-left > .nav-tabs .active > a:hover { width:100%; display:block; padding-left:0; padding-right:0;}
	.tabs-left > .nav-tabs > li > a { border-right:0 none;}
	.tabs-left > .tab-content { border: none;}
	.tab-content .columns, .tab-content .column { margin:0 10px; max-width:90%;}
	
	.container hr { margin-left:0; margin-right:0;}
	.author-detail { margin: 20px 0;}
	
	
	.blog-post h3, .blgtyp3.blog-post h3, .blgtyp2.blog-post h3,
	#wrap .wpb_gallery_slides .flex-caption h2.post-title,
	#wrap .vc_carousel.vc_carousel_horizontal.hero-carousel h2.post-title { font-size:17px; letter-spacing:1px;}
	.blog-single-post h1 { font-size:20px; letter-spacing:1px;}
	.blog-post p, .blog-single-post p { font-size:13px;}
	.blog-post.blgtyp1 a.readmore { left:0; transform:none; font-size:10px;}
	
	.pad-r10, .pad-r20, .pad-r30, .pad-r40, .pad-l10, .pad-l20, .pad-l30, .pad-l40 { padding: 0;}
	.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth { width: 100%; float: none; margin-right: 0;}
	
	
	.twitter-box h3 { font-size:17px;}

	.date-sp-wrap { margin: 0; float: right; margin-bottom: 7px;}
	.blog-line .blog-date-sec { height: auto;}
	.v-shadow-r, .v-shadow-l { min-height: inherit; background: none;}
	.pad-r10, .pad-r20, .pad-r30, .pad-r40, .pad-l10, .pad-l20, .pad-l30, .pad-l40 { padding: 0;}
	.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth { width: 100%; float: none; margin-right: 0;}
	.latest-f-blog, .qot-week { margin:0;}
	.callout { margin:10px 0px 20px;}
	.brdr-l1, .brdr-r1, .brdr-l2, .brdr-r2 { padding:0; border: none;}
	.brdr-l1 { margin-top:30px;}
	.brdr-r1 { margin-bottom:30px;}
	.resp-center { text-align:center !important;}
	.tab-content p, .tab-content li { font-size: 12px;}
	#side-nav { float:noe;}
	
	input[type="text"].header-saerch, input[type="text"].header-saerch:focus { float: none; display: inline; position: relative; z-index: 10000;}	
	#wrap .ls-inner a.button { padding:4px 8px !important; font-size:11px; text-transform:uppercase; letter-spacing:0; font-weight:bold;}
	#wrap .ls-inner a.button.sm19 { margin-left:-12px;}
	
	#wrap .ls-inner h1 { font-size:17px;}
	#wrap .ls-inner h2 { font-size:16px;}
	#wrap .ls-inner h3 { font-size:15px;}	
	#wrap .ls-inner h4 { font-size:14px;}
	#wrap .ls-inner h5 { font-size:13px;}
	#wrap .ls-inner h6, #wrap .ls-inner p { font-size:12px;}
	
	.footer-navi.floatright, .footer-navi { float:none; text-align:center;}
	.fix-btn-mrg .button.skyblue.large { margin-top:30px; margin-bottom:55px;} 
	.footer-in .textwidget, .footer-in .yp-ft-logo { text-align:center;}
	#topbar-search .search-text-box { margin:5px 0 0;}
	#topbar-search .search-icon { right:9px; top:9px;}
	
	
	#header .img-logo-w1 { display:inline;}
	.logo a:active { opacity:1;}
	.moonicons-box1 { width:100%;}
	
	.max-title, .max-title2,.max-title3, .max-title4, .max-title5 { margin-top:14px; margin-bottom:12px;}	
	
	.top-links, .top-links.rgtflot { margin: 0 auto; padding-top: 0;}
	.callout { position:relative; padding-bottom:70px;}
	.callout a.callurl { position: absolute; bottom: 0; right: 9px;}
	.our-clients-wrap { padding-top: 0; padding-bottom: 30px;}
	.testimonials-slider-w { margin-bottom: 50px;}
	#wrap .wpcf7 .wpcf7-form p , #wrap .wpcf7 .wpcf7-submit{ width: 100%;}
	.contact-form { padding:0; border:none;}
	.contact-form .btnSend { width: 100%; padding: 0;}
	.contact-form .g-recaptcha { overflow: hidden; width: 183px; border-right: 1px solid lightgrey;}	
	.footer-in h5.subtitle { margin-top:10px;}
		
	}
	

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
	
	.max-hero .slides-content p{font-size: 13px}
	#wrap.boxed-wrap, #wrap.boxed-wrap #header { width:100%;}
	.footbot { min-height: 38px; height: auto;}
	.nav-wrap2.mn4 #nav a { padding: 15px 4px;}
	#menu a { padding: 15px 4px;}
	.img-box { width: 300px; height: 220px;}
	
	.pad { padding-top: 2%;}
	.post-img { margin-bottom: 20px;}
	.plan-wrap article { width: 100%;}
	.author-detail { width: 254px;}
	.contact input { width: 288px; margin-right: 0;}
	.contact textarea { width: 278px;}
	
	.commentin { width: 92%;}	
	#tline-content { width: 300px;}
	.tline-box { width: 250px;}
		
	.quote-slider .testimonial-content h4 q { font-size:19px;}
	
	.vertical-space, .vertical-space1 { height: 8px;}
	.vertical-space2 { height: 14px;}
	.vertical-space3 { height: 28px;}
	.vertical-space4 { height: 40px;}
	.vertical-space5 { height: 60px;}
	
	}	
	
	@media only screen and (min-width: 1200px) {	
	
	 #wrap.boxed-wrap, #wrap.boxed-wrap #header { width:1180px;}
	 .white-space { height:110px;}
	  h4.subtitle { margin:10px 0 20px 0;}
	  .pin-box { width: 344px; margin:15px;}
	 #testimonials-slider li { width:1100px;}
	 .breadcrumbs-w .container { padding-left:30px;}
	
	 } 
	 
	 @media only screen and (min-width: 768px) and (max-width: 960px) {
	 
	 #testimonials-slider li { width:860px;}
	 .latest-works .portfolio-item { width:33.3%;}
	 .pin-box { width: 350px;}
	 
	 }
	
	/* ---------------------