/*----------------------------------

	Theme Name: Yorkpress
	----------------------
		
	/* NAVIGATION BAR  */
	
	#nav-wrap .container { position:relative;}
	.nav-wrap1, .nav-wrap2 { height:100px;  position:relative; border-color:#f0f0f0;}
	.nav-wrap2 { height:83px; margin:0 auto; border:none;}
	.nav-wrap2.mn4 { height:41px;}
	
	

	/* Menu Icon (Responsive Button) */
	#menu-icon { display: none; /* hide menu icon initially */}
	#nav { float:right;}
	#nav li { list-style: none; padding:0; margin:0; float: left; display: block; height: 100%; vertical-align: middle; position:static;}
	
	

	/* Nav Link */
	#nav a { display: block; font-weight:500; color:#777; outline: 0; opacity:1; text-align:center; letter-spacing:1px; font-family:'Oswald', serif;
	font-size:13px;  text-transform:uppercase; padding:0 15px; line-height:100px; transition:background .15s ease-in-out;}
	#nav a:hover, #nav li:hover > a { color:#d0ae5e;}
	#nav a i { font-size:16px; line-height:16px; display:inline; color:inherit; margin-right:4px; vertical-align:baseline;}
	#nav > li > a i { margin-right:6px; font-weight:normal;}
	#nav > li.current > a, #nav > li > a.active { position:relative; color:#d0ae5e;}
	#nav > li.current > a:before { position:absolute; display:block; float:left; content:""; width:100%; height:1px; background:#d0ae5e; bottom:-1px; left:0;}
	
	
	#header.sticky #nav-wrap #nav > li:hover { background:#f0f0f0; transition: background 0.25s ease;}
	#header.sticky #nav-wrap #nav > li > a { margin:0; padding:23px 15px 22px; line-height:18px;}
	#header.sticky #nav-wrap #nav #nav > li:hover > a { color:#d0ae5e;}
	
	
	
	/* Nav Dropdown */
	#nav ul { position: absolute;  width: 210px; background: #fff ;  padding:0; margin:0; box-shadow: 0 3px 9px rgba(0, 0, 0, 0.09); z-index:9100; display: none; /* hide dropdown */ }
	@media only screen and (min-width: 961px) {
	.dark-submenu #nav ul, .dark-submenu #nav ul li, .dark-submenu #nav ul li:hover { background:#242424;}
	.dark-submenu #nav ul li a { color:#d0d0d0; text-shadow:none;}
	.dark-submenu #nav ul li a:hover { color:#eee; background:#1a1a1a;}
	}
	
	#header.sticky #nav li ul:before,
	#header.sticky #nav li ul:after,
	#nav > li > li.mega ul[class^="sub-"]:after, #nav > li > li.mega ul[class^="sub-"]:before { border-width:0px; display:none;}
	
	#nav ul li { float: none; display:block; position:relative;	margin: 0; padding:0;}
	#nav ul li:hover { background-color:#f9f9f9;}
	#nav ul li:last-child { border:none;}
	#nav ul li a { color:#777; width:auto; display:block; text-align:left; padding: 7px 12px; border-radius:0; font-size:11px; font-weight:500; border:0 none; text-transform:uppercase; line-height:24px; min-height:24px; letter-spacing:1px;}
	#nav ul li a:hover, #nav li.current ul li a:hover, .nav-wrap2 #nav ul li a:hover, .nav-wrap2.darknavi #nav ul li a:hover, #nav ul li.current > a , #nav ul li:hover > a { color:#d0ae5e;}
	#nav li:hover > ul { display: block; visibility:visible; /* show dropdown on hover */}
	#nav ul li ul { margin:-38px 0 0 210px; width:182px;}
	#nav ul li ul li ul { margin-left:182px;}
	#nav li.submenux:after { font-family: 'FontAwesome'; content: "\f054"; position:absolute; color:#cdcdcd; font-size:8px; display:inline; speak: none; cursor:pointer; right:9px; top:12px;} 
	#nav li.mega ul[class^="sub-"] li.submenux:after { display:none;} 
	
	
	/* Mega Menu */
	#nav li.mega ul[class^="sub-"] { width:100%; left:auto; right:0; float:right; border-radius:0; padding:0;}		
	@media only screen and (min-width: 961px) and (max-width: 1200px) {
	#nav li.mega ul[class^="sub-"] { width:920px;}
	#header.sticky #nav li.mega ul[class^="sub-"] { left:10px; right:10px; width:auto;}
	}
	@media only screen and (min-width: 1201px) {
	#nav li.mega ul[class^="sub-"] { width:1095px;}
	#header.sticky #nav li.mega ul[class^="sub-"] { left:30px; right:auto;}
	}
	#nav li.mega ul[class^="sub-"] div:last-child { margin-right:0 !important;}
	#nav li.mega ul[class^="sub-"], #nav li.mega ul[class^="sub-"] li, #nav li.mega ul[class^="sub-"] li:hover { background-color:#fff;}
	#nav h4.subtitle { margin:14px 0; border-color:#e8e8e8; border-width:1px; font-size:12px;}
	#nav img { max-width:100%; margin-bottom:10px;}
	#nav p { font-size:13px; color:#747474; line-height:22px;}
	.dark-submenu #nav p { color:#d1d1d1; font-size:14px; line-height:1.8;}
	#header #nav h6 { margin:0; margin-bottom:7px; color:#555;}
	#nav .sendbtn { padding:7px 20px; font-size:13px;}
	#nav li.mega ul[class^="sub-"] ul, #nav li.mega ul[class^="sub-"] li.mega ul[class^="sub-"] { position:static; display:block; width:auto; border:none; margin:0; padding:0; box-shadow:none;}	
	#nav li.mega ul[class^="sub-"] ul li, #nav li.mega ul[class^="sub-"] ul li a { margin:0;}
	#nav li.mega ul[class^="sub-"] ul li { padding:8px 0; padding-left:1px; border-bottom:none;}
	#nav li.mega ul[class^="sub-"] ul li a { display:inline; line-height:1.4; padding-left:0; padding-right:3px;}
	#nav li.mega ul[class^="sub-"] .wpb_content_element { margin-bottom:5px;}
	#nav li.mega ul[class^="sub-"] .wpb_row { padding:0 15px; margin:0;}
	#nav li.mega ul[class^="sub-"] input, #nav li.mega ul[class^="sub-"] textarea { min-width:inherit;}
	#nav li.mega ul[class^="sub-"] .wpb_column .widget { margin-bottom:0;}
	#nav li.mega ul[class^="sub-"] .no-title .widgettitle { display:none;}
	#nav li.mega ul[class^="sub-"] .mgm-title { font-size: 39px; font-weight: 100; line-height:1.2;}
	#nav li.mega ul[class^="sub-"] a.button, .dark-submenu #nav li.mega ul[class^="sub-"] li a.button { display:inline; padding:14px 18px; font-size:13px; font-weight:700; letter-spacing:2px; } 
	#nav-wrap #nav li.mega ul[class^="sub-"] li a.button:hover { background:#000; color:#fff;}
	
	@media only screen and (min-width: 961px) {
	.dark-submenu #nav li.mega ul[class^="sub-"] li, .dark-submenu #nav li.mega ul[class^="sub-"] li:hover { background:none;}
	.dark-submenu #nav li.mega ul[class^="sub-"] { background:#242424;}
	.dark-submenu #nav li.mega ul[class^="sub-"] li a { color:#d8d8d8; text-shadow:none;}
	.dark-submenu #nav li.mega ul[class^="sub-"] li a:hover { color:#fff; background:none;}
	.dark-submenu #nav li.mega ul.sub-posts li a:hover { color:#d0ae5e;}
	.dark-submenu #nav li.mega ul[class^="sub-"] { color:#a0a0a0;}
	.dark-submenu #nav h4.subtitle { margin:25px 0 15px 0; color:#d8d8d8; border-color:rgba(255,255,255,0.1);}	
	.dark-submenu #nav li.mega ul[class^="sub-"] .mgm-title { color:#fff;}
	.dark-submenu #nav li.mega ul[class^="sub-"] li a.button { color:#fff;}
	}
	
	#nav-wrap #nav li:hover .sub-posts {display: table;table-layout: fixed;margin: 0;padding: 2px;}
	#nav .sub-posts li, .nav-wrap2 #nav .sub-posts li {list-style: none;display: table-cell;text-align: center; border: 0; padding: 10px 0; vertical-align: top;}
	#nav li:hover .sub-posts li:hover{background: #f7f7f7;}
	#nav .sub-posts li img {margin:0;}
	#nav .sub-posts li figure { padding:10px;}
	#nav .sub-posts li figure a { padding:0; margin:0;}
	#nav .sub-posts li h5 a {padding: 8px 14px; font-size: 12px; line-height:1.7; font-weight: 400; letter-spacing:2px; text-transform:uppercase; text-align: center; background: none;}
	#nav .sub-posts .sub-meta {color: #a1a1a1; margin-bottom:10px; font-size:13px; display:none;}
	@media only screen and (max-width: 960px) {
	#nav .sub-posts li, .nav-wrap2 #nav .sub-posts li { display:block;}
	} 
	
	
	/* top-bar menu edition */
	@media only screen and (min-width: 961px) {
	.top-links #nav { margin:0;}
	.top-links #nav > li > a { line-height:51px; padding:0 15px; font-size:10px; margin:0; font-weight:700; color:#c0c0c0;}
	.top-links #nav ul li a { font-size:10px; text-transform:uppercase;}
	.top-links #nav > li.current > a:before, .top-links #nav > li > a:after { display:none;}
	.top-links #nav ul { width:170px;}
	.top-links #nav ul li ul { margin:-38px 0 0 170px; width:160px;}
	#wrap.no-menu-header .nav-wrap2 { display:none;}
	}
	@media only screen and (max-width: 960px) {	
	#wrap.no-menu-header .top-links { display:none;}
	}


	
	/* nav link Header2 */	
	@media only screen and (min-width: 961px) {
	.nav-wrap2 #nav { margin:0; width: 100%; background:none; border-bottom:1px solid #bababa;}
	.nav-wrap2.darknavi #nav { border-bottom:none;}
	.nav-wrap2 .container { padding-left:25px; padding-right:25px;}
	.nav-wrap2 { border:none; background:none;}
	.nav-wrap2.darknavi { background:#303030; border-color:transparent;}
	/* .transparent-header-w .nav-wrap2 { background:none; border-color:rgba(255,255,255,0.25);}  */
	}
	@media only screen and (min-width: 1200px) {
	.nav-wrap2 .container { padding-left:30px; padding-right:30px;}
	}
	#header .vertical-space { height:10px;}
	#header.sticky .vertical-space { height:51px;}
	.nav-wrap2 #nav { text-align: center;}
	.nav-wrap2 #nav a { color:#222;}
	.nav-wrap2 #nav > li { margin:0; padding:0; float:none; display: inline-block;}
	.nav-wrap2 #nav > li > ul { margin-left:0;}
	#header.sticky .nav-wrap2 #nav > li > ul { margin-left:-21px;}
	.nav-wrap2 #nav > li > a { margin:0; padding:21px 20px 18px; font-size:14px; text-transform:uppercase; line-height:18px; text-align:center;}
	.nav-wrap2.mn4 #nav > li > a { padding:11px 25px 11px;}
	#header.sticky .nav-wrap2 #nav > li > a { font-size:13px;}
	.nav-wrap2 #nav li.mega ul[class^="sub-"] { right:auto; left:30px; float:left; text-align:left;}
	#header.sticky .nav-wrap2 #nav li.mega ul[class^="sub-"] { margin:0;}
	#nav a span, #nav > li > a:after { margin-top:6px; display:block; font-size:11px;  color:#9a9a9a; font-weight:400; }
	#nav > li > a:after  { content: attr(data-description);}
	.nav-wrap1 #nav > li > a:after, .nav-wrap2.mn4 #nav > li > a:after, #nav ul li > li > a:after { content:""; display:none;}
	.nav-wrap2 #nav > li:hover > a, .top-links #nav > li:hover > a { color:#d0ae5e; background: none;}
	.nav-wrap2.darknavi #nav > li > a { color:#fff;}
	.nav-wrap2.darknavi #nav > li > a:hover, .nav-wrap2.darknavi #nav > li:hover > a { background-color:#242424; color:#d0ae5e;}
	.nav-wrap2 #nav > li.current > a {color:#d0ae5e;}
	.nav-wrap2 #nav > li.current > a:before { height:3px;}
	
	@media only screen and (min-width: 961px) {
	#header.sticky .nav-wrap2 #nav { float:right; background:none; border:none; text-align:right;}
	}
	#header.sticky .nav-wrap2 #nav > li { padding:0;} 
	#header.sticky .nav-wrap2 #nav > li > a { margin:0; padding:21px 10px; border:none; background:none;}
	@media only screen and (min-width: 1200px) {
	#header.sticky .nav-wrap2 #nav > li > a { padding:21px;}
	}
	#header.sticky #nav a span, #header.sticky #nav a:after { display:none;}
	#header.sticky .nav-wrap2 {border:none;}
	#header.sticky .nav-wrap2.darknavi, #header.sticky .nav-wrap2.darknavi #nav > li > a { border:none; background:none;}
	#header.sticky .nav-wrap2.darknavi #nav > li > a { color:inherit;}
	#header.sticky .nav-wrap2.darknavi #nav > li > a:hover { color:#d0ae5e;}
	
	
	
	
	/* nav dropdown for(ie7) */
	
	*+html #nav li { position:relative; display:block;}
	*+html #nav li ul, *+html #nav li.current ul {  left:0; clear:both; position:absolute; border:1px solid #d4d4d4;}
	*+html .container { z-index:2;}
	*+html #header { z-index:3; position:relative; }
	*+html #nav ul li ul { position:absolute; left:0; margin-top:-31px; display:none; visibility:hidden;}
	*+html #nav ul li:hover > ul { display:block; visibility:visible;}
	

	/* header typ 10 */
	@media only screen and (min-width: 961px) {
	#header.w-header-type-10 #nav > li.current > a:before { height:4px;}
	.transparent-header-w #header.w-header-type-10 { position: absolute; top: 35px; background: #fff; border: none; margin: 0 auto; left: 0; right: 0; box-shadow: 0 1px 7px rgba(0,0,0,0.041);}
	.transparent-header-w.t-dark-w #header.w-header-type-10 {background:rgba(255, 255, 255, 0.2);}
	.transparent-header-w #header.w-header-type-10.sticky { width:100%; box-shadow:none;}	
	}	
	@media only screen and (min-width: 1200px) {
	.transparent-header-w #header.w-header-type-10 { width: 1170px;}
	}
	@media only screen and (min-width: 961px) and (max-width: 1200px) {
	#header.w-header-type-10 #nav > li > a { font-size:12px; padding:0 10px;}
	#header.w-header-type-10.sticky #nav-wrap #nav > li > a { padding-left:10px; padding-right:10px;}
	}

/* --------------------- */

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 960px) { 
	
	/* nav-wrap */
	#nav-wrap {	position: relative; height:30px; text-align:center; margin:0 0 32px 0;}
	#nav-wrap.full-menu-duplex { padding:0 10px;}

	/* menu icon */
	#menu-icon { color: rgba(255,255,255,0.7); margin:0 auto; font-size:16px; font-weight:400; height: 37px; border-radius:2px; background: #363f46; padding: 7px 10px 7px 42px; cursor: pointer;	 clear:both; box-shadow:  0 2px 2px -2px rgba(0,0,0,0.3); text-align:left; display: block; /* how menu icon */	}
	#menu-icon i { font-size:16px; color:rgba(0,0,0,0.6); float:left; margin-left:-28px; margin-top:3px;}
	#menu-icon:hover, #menu-icon.active {background-color: #d0ae5e;}
	.mn-clk { font-size:12px; color:rgba(255,255,255,0.5);}

	
	/* main nav */
	#nav { clear: both; margin:0 auto; background:#fff; position: absolute; width: 260px; z-index: 1000; padding:2px 0 44px 18px; border: 1px solid #d2d2d2; border-top:0 none;	display: none; /* visibility will be toggled with jquery */	}
	#nav ul { padding:5px 0;}
	#header.sticky #nav-wrap #nav > li, #nav li, .nav-wrap2 #nav li { clear: both; text-align:left; float: none; border:0 none; margin:0; margin-left:10px; padding:0 !important; border-bottom:1px solid #dcdee2;}
	#nav ul li { border-color:#dcdee2;}
	#nav ul li:last-child, .nav-wrap2 #nav ul li:last-child { border:none;}
	#nav > li > ul:after, #nav > li > ul:before { display:none; visibility:hidden;}
	#nav a, .nav-wrap2 #nav > li > a, .nav-wrap2.mn4 #nav li a { line-height:24px;}
	#nav a, #nav ul a, .nav-wrap2 #nav > li > a, .nav-wrap2.mn4 #nav li a, #nav ul li a, #nav ul li:hover > a, .nav-wrap2.darknavi #nav > li > a { background:none; width:auto; display:inline-block; padding:11px 11px 11px 0; text-align:left; border:0 none; margin:0; line-height:1.2;}
	#header.sticky #nav-wrap #nav > li > a, #nav > li  > a { margin:0; padding:14px 0; line-height:16px; display:block;}
	#nav > li:hover > a, #nav li.current > a, #nav li.active > a{ background:none; color:#d0ae5e;}
	
	.nav-wrap2 #nav > li { display:block;}
	.nav-wrap2 #nav > li > a , .nav-wrap2 #nav > li:first-child > a { border:0 none;}
	.nav-wrap2 #nav > li > a { font-size:14px; font-weight:400;}
	.nav-wrap2.darknavi #nav > li > a { color:#666;}
	.nav-wrap2.darknavi #nav > li > a:hover, .nav-wrap2.darknavi #nav > li:hover > a { background:none;}
	#nav a span, #nav a:after { display:none; visibility:hidden;}
	#nav > li.current > a:before { display:none;}
	#nav li.mega ul[class^="sub-"] ul li a { display:block;}
	#nav li.mega ul[class^="sub-"] .wpb_column { margin-bottom:20px;}
	
	
	
	/* dropdown */
	#nav li ul { display:none; margin:0; padding:0; padding-left:10px;}
	#nav.ie10mfx li ul { display:block;}
	#nav a:hover > #nav li ul { display:block;}
	#nav ul { width: auto; margin:0; box-shadow: none; position: static; display: block; border: none;}
	#nav ul li ul { margin:0; display: block;  width: auto; padding:0; padding-left:10px;}
	#nav:not( :target ) > a:first-of-type, #nav:target > a:last-of-type { display: block;}
	#nav li.submenux:after { content: "\f078";}
	
	.nav-wrap2, .nav-wrap2.darknavi { border:0 none; box-shadow:0 0 0 0; background:none;}
	#nav li.mega ul[class^="sub-"], #nav li.mega ul[class^="sub-"] div, #nav li.mega ul[class^="sub-"], #nav > li:last-child li.mega ul[class^="sub-"] { width:auto; max-width:100%; clear:both; float:none;}
	#nav li.mega ul[class^="sub-"] .wpb_row { padding:0;}	
	#nav li.mega ul[class^="sub-"] .wpb_column { padding-left:0;}
	
	}
	

	@media only screen and (min-width: 480px) and (max-width: 960px) {
	#nav { left:51px; width: 278px;}
	.nav-wrap2 #nav { left:71px;}
	#menu-icon { width: 278px;}
	#header.sm-rgt-mn #nav { width:100%;}
	#header.sm-rgt-mn #menu-icon { width:32px;}
	}
	
	@media only screen and (min-width: 768px) and (max-width: 960px) {
	#header.sm-rgt-mn #nav { left:auto; right:0; max-width:330px;}
	#nav { left:132px;}
	.nav-wrap2 #nav { left:245px;}
	#nav-wrap.full-menu-duplex #nav { left:50%; margin-left:-139px;}
	#nav-wrap.nav-wrap2 { max-width:760px;}	
	}
	
	@media only screen and (max-width: 767px) {
	#nav-wrap.nav-wrap2 { width:420px; margin-right: auto; margin-left: auto; padding-left:10px; padding-right:10px;}
	}	
	
	@media only screen and (max-width: 479px) {
	#nav-wrap.nav-wrap2 #nav { max-width:300px;}
	#nav-wrap.nav-wrap2 { width:300px;}
	.nav-wrap2 #menu-icon { width: 260px;}
	#header.sm-rgt-mn .vertical-space { height:12px;}
	}
	

	
	@media only screen and (max-width: 960px) { 
	
	#header.sm-rgt-mn, #header.hi-header.sm-rgt-mn { padding:10px 0 0; height:82px; border-bottom:1px solid #bababa;}
	#header.sm-rgt-mn .logo-wrap { float:left; height:45px;}
	#header.sm-rgt-mn .logo-wrap .logo { text-align: left !important; height: 60px; width: 260px; padding-top:7px; margin-top: 0; margin-bottom: 0;}
	#header.sm-rgt-mn .logo-wrap .logo img { max-height:48px; width:auto !important; max-width:200px; margin: auto 0;}
	#nav > li.current > a, #nav > li > a.active { border-bottom:none;}
	#header.sm-rgt-mn .alignright { display:none;}
	#header.sm-rgt-mn .nav-wrap2 { height:0; margin-top:-57px;}


	/* menu icon */
	#header.sm-rgt-mn #menu-icon { margin-top:21px; margin-right:4px; overflow:hidden; z-index:98; padding:0; box-shadow:none;  float:right; width: 40px; height:40px; font-size:16px;  position:absolute; right:0; background: transparent; cursor: pointer; display: block; /* how menu icon */	}
	#header.sm-rgt-mn #menu-icon i { display:none;}
	#header.sm-rgt-mn #menu-icon:hover i, #header.sm-rgt-mn #menu-icon.active i { color:#d0ae5e; cursor: pointer;}
	#header.sm-rgt-mn #menu-icon span { display:none;}
	#header.sm-rgt-mn #menu-icon span.mn-ext1,
	#header.sm-rgt-mn #menu-icon span.mn-ext2,
	#header.sm-rgt-mn #menu-icon span.mn-ext3 { display:block; width:24px; height:3px; background:#d0ae5e; margin-bottom:3px; margin-top:2px;}
	#header.sm-rgt-mn #menu-icon.active span.mn-ext1 { display:none;}
	#header.sm-rgt-mn #menu-icon.active span.mn-ext2 { -webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg); margin-top:9px; border-radius:2px;}
	#header.sm-rgt-mn #menu-icon.active span.mn-ext3 { -webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg); margin-top:-6px; border-radius:2px;}
	#header.sm-rgt-mn #menu-icon i:before { display:none;}
	#header.sm-rgt-mn .nav-wrap2 #menu-icon { margin-top:22px;}
	
	/* main nav */
	#header.sm-rgt-mn #nav { clear: both; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; margin:0 auto; width:100%; max-width:330px; top:72px; position: absolute; border: 5px solid #d2d2d2; border-top:none;  display: none;  /* visibility will be toggled with jquery */	}
	#header.sm-rgt-mn .nav-wrap2 #nav { width:340px;}
	}
	@media only screen and (max-width: 479px) {
	#header.sm-rgt-mn .nav-wrap2 #nav { width:280px; right:0; top:71px;}
	}
	@media screen and (min-width: 961px) {
	/* ensure #nav is visible on desktop version */
	#nav {	display: block !important;}	
	.nav-wrap2 #nav  {	display: table !important;}	
	}
	@media only screen and (min-width: 480px) and (max-width: 960px) {
	#header.sm-rgt-mn .nav-wrap2 #nav { width:330px; right:20px; margin:0; left:auto;}
	}
	
	
/* End Normal Menu Style
 ----------------------------------- */	
 
	

	/* #Vertical Header
	================================================== */
	
	#header.vertical-w { border-bottom: none;}
	#header.vertical-w .nav-wrap3 #nav > li > a:after { content:""; display:none;}
	#header.vertical-w #nav li.mega ul[class^="sub-"] { display: none;}

	@media only screen and (min-width: 961px) {
	
	#wrap.vertical-header-enabled { padding-left: 250px;}
	#wrap.vertical-toggle-header-enabled { padding-left: 0px;}
	.transparent-header-w #header.vertical-w { position: initial;}

	#vertical-header-wrapper { position: fixed; width: 250px; height: 100%; top: 0; left: 0; z-index: 1001; background-color: #fff; border-right:4px solid #f0f0f0;}

	#header.vertical-w #nav > li.current > a:before { background: transparent; display: none;}
	#header.vertical-w #nav ul li a { padding: 9px 11px;}
	#header.vertical-w #nav > li > a { margin: 0; line-height: 48px; padding: 0;}

	#header.vertical-w .vheader-container { width: 100%; padding: 0; margin: 0;}
	#header.vertical-w #nav-wrap, #header.vertical-w .logo-wrap { float: none; width: 100%; padding: 0; margin: 0;}
	#header.vertical-w #nav-wrap { margin-bottom: 40px;}
	#header.vertical-w .logo-wrap { overflow: hidden;}

	#header.vertical-w .logo { position:static; float: none; text-align: center; margin: 60px 0 50px; padding-left: 15px; padding-right: 15px;}
	#header.vertical-w .logo-wrap .logo { width:246px; height:auto; text-align:center;}
	#header.vertical-w .logo a { display: block;}
	#header.vertical-w .logo img { position:static; margin: auto; margin-top: 0; left:0; right:0;}

	#header.vertical-w #nav { float: none; margin: 0;}
	#header.vertical-w #nav ul { margin: 0; padding: 0; left: 100%; top: 0;}
	#header.vertical-w #nav li { position: relative; float: none; padding: 0 !important; width: 100%; height: auto; border-bottom: 1px solid #f0f0f0;}
	#header.vertical-w #nav li:hover { background-color: #fafafa;}
	#header.vertical-w #nav > li:last-child { border: none;}
	#header.vertical-w #nav > li > ul:before { display: none;}

	#header.vertical-w #search-form { float: none; border-left: none; padding-left: 0; margin: 0 19px; height: 38px; z-index: 9999;}
	#header.vertical-w #search-form .search-text-box { width: 140px; background-color: #f3f3f3;  background-image: url(../images/search-icon.png); background-position: 12px 50%; background-repeat: no-repeat; border: 0 none; border-radius: 18px; box-shadow: none; font-size: 13px; color:#444; height:18px; line-height: 18px; padding: 7px 5px 8px 30px;}
	

	/* vertical toggle header */
	.vertical-toggle-header-enabled #header.vertical-w { display: none;}
	.vertical-toggle-header-enabled #header { background:none;}
	.vertical-toggle-header-enabled #header.vertical-w .logo-wrap .logo { width:210px;}
	.vertical-toggle-header-enabled #header.vertical-w #nav > li { background:none; border:none; background:none;}
	.vertical-toggle-header-enabled #header.vertical-w #nav > li > a { line-height:36px; color:#999; text-shadow:none; font-size:19px;}
	.vertical-toggle-header-enabled #header.vertical-w #nav > li > a:hover { color:#eee; background:#0c0c0c;}
	.vertical-toggle-header-enabled #vertical-header-wrapper { border-right:40px solid #242424; background:rgba(0,0,0,0.9);}
	.vertical-toggle-header-enabled #header.vertical-w #nav ul, .vertical-header-enabled.dark-submenu #header.vertical-w #nav ul { background:#191919;}
	.vertical-toggle-header-enabled #header.vertical-w #nav ul li, .vertical-header-enabled.dark-submenu #header.vertical-w #nav ul li {border-color:#222;}
	.vertical-toggle-header-enabled #header.vertical-w #nav ul li a, .vertical-header-enabled.dark-submenu #header.vertical-w #nav ul li a { background:none;}
	.vertical-toggle-header-enabled #header.vertical-w #nav > li:hover, .vertical-toggle-header-enabled #header.vertical-w #nav ul li:hover, 
	.vertical-header-enabled.dark-submenu #nav ul li a:hover, .dark-submenu #header.vertical-w #nav ul li:hover { background:#0c0c0c;}
	#toggle-icon { display: block; position: absolute; top: 0; right: -99px; margin-right: 13px; margin-top: 20px; cursor: pointer; z-index: 100; background:#242424; width: 46px; height: 42px; padding: 11px; border-radius:0 5px 5px 0;}
	#toggle-icon.active { right: -95px;}

	#toggle-icon span.mn-ext1,
	#toggle-icon span.mn-ext2,
	#toggle-icon span.mn-ext3 { display:block; width:24px; height:3px; background:#777; margin-bottom:3px; margin-top:2px; -webkit-transition: all .4s ease-in-out; -o-transition: all .4s ease-in-out; transition: all .4s ease-in-out;}
	#toggle-icon.active span.mn-ext1 { display:none; background:#f47066;}
	#toggle-icon.active span.mn-ext2 { -webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg); margin-top:9px; border-radius:2px; background:#f47066;}
	#toggle-icon.active span.mn-ext3 { -webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg); margin-top:-6px; border-radius:2px; background:#f47066;}

	ul.vertical-socials { position: absolute; bottom: 15px; right: 0; width: 50px; margin: 0;}
	ul.vertical-socials li { list-style: none; display: block;   width: 100%;  text-align: center;   margin-bottom: 5px; line-height: 1.7;}
	ul.vertical-socials li a { font-size: 15px; color: #7f7f7f;}
	
	.vertical-toggle-header-enabled #header.vertical-w #search-form .search-text-box { min-width: 170px; width: 170px; background-color: #222;  background-image: url(../images/search-icon.png); background-position: 12px 50%; background-repeat: no-repeat; color:#fff;} 
	
	

	/* socials style */
	.socials-wrapper { position: absolute; bottom: 0; top: auto; clear: both; padding: 0 20px; width: 100%;}
	.socials { float: none; text-align: center; margin: 0; margin-bottom: 20px;}
	.socials li { display: inline-block; margin-right: 16px;}
	.socials i { font-size: 18px; color: #7f7f7f;}
	.socials a.facebook:hover i, .vertical-socials a.facebook:hover i { color: #3b5996;}
	.socials a.facebook:hover i, .vertical-socials a.facebook:hover i { color: #3b5996;}
	.socials a.twitter:hover i, .vertical-socials a.twitter:hover i { color: #00acee;}
	.socials a.vimeo:hover i, .vertical-socials a.vimeo:hover i { color: #0dadd6;}
	.socials a.dribble:hover i, .vertical-socials a.dribble:hover i { color: #d53e68;}
	.socials a.youtube:hover i, .vertical-socials a.youtube:hover i { color: #cb322c;}
	.socials a.pinterest:hover i, .vertical-socials a.pinterest:hover i { color: #cb2027;}
	.socials a.google:hover i, .vertical-socials a.google:hover i { color: #c3391c;}
	.socials a.linkedin:hover i, .vertical-socials a.linkedin:hover i { color: #0073b2;}
	.socials a.rss:hover i, .vertical-socials a.rss:hover i { color: #f29a1d;}
	.socials a.instagram:hover i, .vertical-socials a.instagram:hover i { color: #457399;}
	.socials a.other-social:hover i, .vertical-socials a.other-social:hover i { color: #ff5d5e;}
	}
	.vertical-socials, .vertical-socials * { display:none !important;}
	
	
	
	/* #Container + Content + Sidebar in Vertical Header
	===================================================== */	
	@media only screen and (max-width: 1200px) {
	#wrap.vertical-header-enabled .cntt-w, #wrap.vertical-header-enabled .sidebar { width:100%; margin:0;}
	}
	@media only screen and (min-width: 1201px) and (max-width: 1366px) {
	#wrap.vertical-header-enabled .cntt-w { width:620px;}
	}
	@media only screen and (min-width: 961px) and (max-width: 1200px) {
	#wrap.vertical-header-enabled .container { max-width: 730px;}
	}
	@media only screen and (min-width: 1201px) and (max-width: 1366px) {
	#wrap.vertical-header-enabled .container { max-width: 980px;}
	}
	@media only screen and (min-width: 1367px) and (max-width: 1920px) {
	#wrap.vertical-header-enabled .container { max-width: 1156px;}
	}
	
	
	/* #logo alignment center
	================================================== */
	@media only screen and (min-width: 961px) {
	#header.sticky .col-md-4:nth-of-type(1), #header.sticky .cntmenu-leftside { display: none;}
	}
	#header .right-side h6 { margin: 17px 0;}
	#header .logo-wrap.center .logo { float: none; text-align: center; margin: 0 auto; position:relative; width:auto; height:auto;}
	#header .logo-wrap.center .logo img { position:static;}
	#header. sticky .logo-wrap.center .logo { margin: initial;}
	#header .center .img-logo-w1 { margin: auto;}
	#header .nav-wrap2.center { text-align: center;}
	#header .nav-wrap2.center #nav { float: none;}
	#header.sticky .nav-wrap2 #nav { float: right;}
	#header .nav-wrap2.center #nav > li { float: none; display: inline-block;}
	#header .nav-wrap2.center #nav > li > a { border:none;} 

	
	/* #logo alignment right
	================================================== */
	#header.sm-rgt-mn .logo-wrap.right, #header .logo-wrap.right, #header .logo-wrap.right .logo { float: right;}
	#header .left-side h6 { margin-top: 0;}
	#header.sm-rgt-mn .nav-wrap2.left #menu-icon { right: auto; left: 0; float: left;  margin-left: 35px;}
	#header.sticky #nav-wrap.nav-wrap2.left .container { padding-right: 300px; padding-left: 30px;}
	#header.sticky .nav-wrap2.left #nav { float: left;}
	#header.sticky .right .logo-sticky { left: auto; right: 110px;}
	#header .left-side .header-saerch { float: left;}	

	@media only screen and (max-width: 960px) {
	#vertical-header-wrapper { padding:0;}
	#header.sm-rgt-mn .alignright, #header.sm-rgt-mn .right-side, #header.sm-rgt-mn .left-side { display: none;}
	.vertical-toggle-header-enabled #header { background:rgba(0,0,0,0.9);}
	
	/*vertical header*/
	.socials-wrapper, .vertical-socials { display: none !important;}
	.vertical-toggle-header-enabled #header.vertical-w { display: block !important;}
	
	/*logo alignment center*/
	#header .right-side { display: none;}
	#header #nav-wrap.nav-wrap2.center #nav > li { display:block;}
	}


	@media only screen and (max-width: 767px) {
	/*logo alignment right*/
	#header .logo-wrap.right, #header .left-side { float: none; display: block; overflow: hidden; text-align: center;}
	#header .left-side .header-saerch { float: none;}

	/*logo alignment left*/
	#header .alignright { text-align: center;}
	}	
	
	
	
	/* #Duplex Menu
	================================================== */
	@media (min-width: 961px){
	nav.full-menu{display:none !important;}
	}
	@media (max-width: 960px) {
	nav.duplex-menu{display:none !important;}
	}
	@media only screen and (min-width: 961px) {
	.col-md-4.duplex-menu { width:50%; padding:0;}
	#header.duplex-hd .col-md-4.logo-wrap { text-align:center; width:220px; height:220px; padding:0; position:absolute; top:0; left:50%; margin-left:-110px;}	
	#nav.duplex-menu { float:none;}	
	#nav.duplex-menu > li { float:none; padding:0 20px; display:inline-block;}
	#nav.duplex-menu > li.current > a:before { display:none;}
	.duplex-menu.dm-left { text-align:right; padding-right:120px;}
	.duplex-menu.dm-right { text-align:left; padding-left:120px;}
	#nav.duplex-menu ul { margin-top:-60px; margin-left:-12px;}
	#header.sticky #nav.duplex-menu ul { margin-top:0;}
	}
		
	@media only screen and (min-width: 961px) {	
	#nav.duplex-menu > li > a { padding:0; font-weight:400; font-size:16px; line-height:220px; text-transform:none;}
	#nav.duplex-menu  ul li a, #nav.duplex-menu ul li:hover a { font-weight:400; font-size:12px;} 
	#header.duplex-hd #nav > li > a.active, #header.duplex-hd #nav > li > a.active, #nav.duplex-menu > li.current > a,
	.transparent-header-w.t-dark-w #header.horizontal-w.duplex-hd #nav > li:hover > a, .transparent-header-w.t-dark-w #header.horizontal-w.duplex-hd #nav > li.current > a { color:#d0ae5e;}
	#header.sticky #nav.duplex-menu a { margin:0; padding:14px 0 16px; line-height:29px; font-size:14px;}
	#header.sticky #nav.duplex-menu ul li a { font-size:12px;}
	#header.duplex-hd #nav ul li a, #header.duplex-hd.sticky #nav ul li a { padding:9px 12px;}
	#header.duplex-hd { height:220px; padding:0; position:relative; /* border-bottom: 2px solid #d2e7ea; */}
	#header.sticky.hi-header.duplex-hd { border:none; height:auto;}
	#header.duplex-hd .col-md-4.logo-wrap .logo { width:220px; height:220px;}
	#header.duplex-hd .col-md-4.logo-wrap img { width:auto; max-width:180px; height: auto; position: absolute; margin: auto; top: 0; left: 0; right: 0; bottom: 0;}
	#header.duplex-hd.sticky img.img-logo-w1, #header.duplex-hd.sticky img.img-logo-w2 { display:none;}
	.transparent-header-w.t-dark-w #header.horizontal-w.duplex-hd #nav > li:hover > a { background:none;}
	
	.full-menu-duplex { display:none;}
	#header.sticky #nav-wrap.full-menu-duplex  { display:none;}
	#header.sticky.duplex-hd .col-md-4:nth-of-type(1) {display:block;}
	#header.sticky.duplex-hd img.img-logo-w1 { display:none;}
	#header.sticky.duplex-hd #nav-wrap #nav > li { padding:0 15px;}
	#header.sticky.duplex-hd .col-md-4.logo-wrap { width:220px;}
	#header.sticky.duplex-hd .col-md-4.logo-wrap, #header.sticky.duplex-hd .col-md-4.logo-wrap .logo, #header.sticky.duplex-hd .nav-wrap1 { height:auto;   max-height: 60px;}
	#header.sticky.duplex-hd .col-md-4.logo-wrap .logo-sticky { display:block; position:static; text-align:center;}
	#header.sticky.duplex-hd .col-md-4.logo-wrap .logo-sticky img { height:50px; width:auto; margin-top:10px; display:inline;}	
	
	#header.sticky.duplex-hd > .container { width:100%; border-bottom:1px solid #e9e9e9\9; box-shadow:0 0 3px rgba(0,0,0,0.21); z-index:80000; background:rgba(255,255,255,0.97); display:block; position:fixed; height:60px; padding:0; left:0; top:0; -webkit-animation: header-anim .2s ease .027s both; animation: header-anim .2s ease .027s both; transition: background 0.3s ease-in-out 0s;}
	#header.sticky.duplex-hd:hover > .container { background:#fff;}	
	}
	@media only screen and (min-width: 961px) and (max-width: 1200px) {
	#nav.duplex-menu > li { padding:0 10px;}
	#nav.duplex-menu > li > a { font-size:13px;}
	.nav-wrap2.mn4 #nav > li > a { padding-left:14px; padding-right:14px;}
	}
	
	
	/* #Box Menu
	================================================== */	
	@media only screen and (min-width: 961px) {
	#header.box-menu { background:#3b3e3f; border:none; height:135px;}	
	#header.box-menu  h6 { margin:30px 6px 5px; font-size: 17px;color: #ccc; font-weight: 300; letter-spacing: 0.4px;}
	#header.box-menu  h6 i { font-size:18px; color:#75797b; padding:9px; border:2px solid; display: inline-block; width:38px; height:38px; margin-top:0;}
	#header.box-menu .nav-wrap2.mn4 {  height:58px; margin-bottom:-29px; display:table; width:100%;}
	#header.box-menu .nav-wrap2 {  max-width:1095px; height:58px;  margin-left:auto; margin-right:auto; text-align:center; border:none; z-index:770;
		background-image: -moz-linear-gradient(top, #fdfdfd, #e9e9e9);
		background-image: -ms-linear-gradient(top, #fdfdfd, #e9e9e9);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to#e9e9e9);
		background-image: -webkit-linear-gradient(top, #fdfdfd, #e9e9e9);
		background-image: -o-linear-gradient(top, #fdfdfd, #e9e9e9);
		background-image: linear-gradient(top, #fdfdfd, #e9e9e9);
		-webkit-box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.21);
		-moz-box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.21);
		box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.21);
		}
		
	#header.box-menu .nav-wrap2 .container { width:auto; padding:0;}
	#header.box-menu .nav-wrap2 #nav { text-align:center; width:100%; margin:0;}
	#header.box-menu .nav-wrap2 #nav > li { float:none; display:table-cell; padding: 0; margin:0; border-bottom:4px solid #2a2a2a;}
	#header.box-menu .nav-wrap2 #nav > li.current { border-bottom-color:#d0ae5e;}
	#header.box-menu .nav-wrap2 #nav > li > ul { border-top:4px solid #d0ae5e;}
	#header.box-menu .nav-wrap2 #nav > li:hover { border-color:#d0ae5e;}
	#header.box-menu .nav-wrap2 #nav > li:after, #header.box-menu .nav-wrap2 #nav > li:before,
	#header.box-menu .nav-wrap2 #nav > li a:after, #header.box-menu .nav-wrap2 #nav > li a:before { display:none; width:0; height:0;}
	#header.box-menu .nav-wrap2 #nav > li > a { padding:22px 26px 18px; margin-bottom:0; text-align:center; border-color:#e1e1e1; letter-spacing:1px; font-size:14px; line-height:14px; color:#484848; text-transform:uppercase; font-weight:400;}
	#header.box-menu .nav-wrap2.mn4 #nav > li > a { padding:18px 26px; margin:0;}
	#header.box-menu .nav-wrap2 #nav > li:first-child > a{ border-left:none;}
	#header.box-menu .nav-wrap2 #nav > li:last-child > a { border-right:none;}
	.transparent-header-w.t-dark-w #wrap #header.box-menu #nav > li > a { text-shadow:none; color:#485059;}
	#header.box-menu input[type="text"].header-saerch { margin-top:20px; margin-right:1px; background:#222;}
	.transparent-header-w #header.box-menu input[type="text"].header-saerch { background: rgba(255,255,255,0.45); color:#000;}

	
	#header.box-menu.sticky #nav-wrap.nav-wrap2 { width:100%; max-width:100%;}
	#header.box-menu.sticky #nav-wrap .container { padding-left:150px;}
	#header.box-menu.sticky #nav { display:block; float:right; width:auto;}
	#header.box-menu.sticky .nav-wrap2 #nav > li { border:none; display:inline-block; float:left;}
	#header.box-menu .nav-wrap2 #nav li.mega ul[class^="sub-"] { left:0;}
	#header.box-menu .alignright { line-height:65px;}
	#header.box-menu.sticky .alignright { display:none;}
	#header.box-menu .vertical-space { height:6px;}
	}
	@media only screen and (max-width: 960px) {
	#header.sm-rgt-mn.box-menu { background:#353c3e;}
	}
	
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	.nav-wrap2 {
	  width: 420px;
	}
	}

		
	
/* End
 --------------------- */